<!DOCTYPE html>
<div class="modal-header">
	<img alt="genis-logo" src="/assets/images/genisLogo.png" height="55"
		width="150"> 
</div>
<div class="modal-body">
	<strong>Versión</strong>: {{version}}
	<div class="row">

		<div style="float: left; width: 100%">
			<span style="float: left; padding-left: 1px; padding-right: 60px; padding-top: 20px; width: 50%; border-right: 1px dashed; border-color: #D3D3D3;">
				<a href="http://www.baufest.com" target="_blank">
				 <img src="/assets/images/baufest-logo1.png" style="height: 50px; float: right;" />
				</a>
			</span> 
			<span style="position: absolute; width: 100%; padding-left: 50px; padding-right: 40px; padding-top: 10px">
				<img src="/assets/images/sadosky-logo.png" style=" float: left; width: 30%" />
			</span>
		</div>
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-success" data-ng-click="closeModal()">Cerrar</button>
</div>