
<div class="row padding-0 breadcrumb_column">
    <div class="col-md-12 padding-0">
        <div class="row padding-0">
            <div class="breadcrumb_content">
                <ol class="breadcrumb">
                    <li>
                        <div class="btn volver" onclick="history.back()">
                            <span  class="icon-atras" title="Volver"></span>
                        </div>
                    </li>
                    <li class="active">{{ 'configuration.categories.title' | i18next }}</li>
                    
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="container-top" >
    <section class="extended-section configuracion content">
        <div class="col-md-12">
            <div class="col-md-4">
                
                

                <div  show-permissions="CATEGORY_CRUD,KIT_CRUD,LOCUS_CRUD" class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading vertical-align"><i class="icon-categorias icon-conf" ></i> {{ 'configuration.categories.categories' | i18next }}</div>
                    
                    <!-- List group -->
                    <ul class="list-group">
                            <li class="list-group-item" show-permissions="CATEGORY_CRUD"><a data-ng-click=" selectedMenu = 'configuration'" href="#/categories">{{ 'configuration.categories.categories' | i18next }}</a></li>
                            <li class="list-group-item" show-permissions="KIT_CRUD"><a data-ng-click=" selectedMenu = 'configuration'" href="#/kits">{{ 'configuration.categories.kits' | i18next }}</a></li>
                            <li class="list-group-item" show-permissions="LOCUS_CRUD"><a data-ng-click=" selectedMenu = 'configuration'" href="#/locus">{{ 'configuration.categories.locus' | i18next }}</a></li>
                      
                    </ul>
                  </div>








                  <div show-permissions="SUP_INS_CRUD" class="panel panel-default">
                        <!-- Default panel contents -->
                        <div class="panel-heading vertical-align"><i class="icon-instancia-superior  icon-conf"></i> {{ 'configuration.instance.title' | i18next }}</div>
                        
                        <!-- List group -->
                        <ul class="list-group">
                                <li class="list-group-item" show-permissions="SUP_INS_CRUD"><a href="#/superior-instance"> {{ 'configuration.instance.upperInstance' | i18next }}</a></li>
                          
                        </ul>
                      </div>


                 
            </div>
            
            
            
            <div class="col-md-4">
               

                <div show-permissions="ALLELIC_FREQ_DB_VIEW, ALLELIC_FREQ_DB_CRUD" class="panel panel-default">
                        <!-- Default panel contents -->
                        <div class="panel-heading vertical-align"><i class="icon-mixer icon-conf"></i> {{ 'configuration.statisticalParameters.title' | i18next }}</div>
                        
                        <!-- List group -->
                        <ul class="list-group">
                                <li class="list-group-item" show-permissions="ALLELIC_FREQ_DB_VIEW, ALLELIC_FREQ_DB_CRUD"><a data-ng-click=" selectedMenu = 'configuration'" href="#/stats">{{ 'configuration.statisticalParameters.allelicFrequencies' | i18next }}</a></li>
                                <li class="list-group-item" show-permissions="MUTATION_MODELS_CRUD"><a data-ng-click=" selectedMenu = 'configuration'" href="#/mutation-models">{{ 'configuration.statisticalParameters.mutationalModels' | i18next }}</a></li>


                        </ul>
                      </div>


                




                      <div show-permissions="USER_CRUD,ROLE_CRUD" class="panel panel-default">
                            <!-- Default panel contents -->
                            <div class="panel-heading vertical-align"><i class="icon-seguridad icon-conf "></i> {{ 'configuration.security.title' | i18next }}</div>
                            
                            <!-- List group -->
                            <ul class="list-group">
                                    <li class="list-group-item" show-permissions="USER_CRUD"><a data-ng-click=" selectedMenu = 'configuration'" href="#/users">{{ 'configuration.security.users' | i18next }}</a></li>
                                    <li class="list-group-item" show-permissions="ROLE_CRUD"><a data-ng-click=" selectedMenu = 'configuration'" href="#/roles">{{ 'configuration.security.roles' | i18next }}</a></li>
    
    
                            </ul>
                          </div>




                
            </div>
            
            
            <div class="col-md-4">

                    <div show-permissions="LABORATORY_CRUD,GENETICIST_CRUD,BIO_MAT_CRUD,MOTIVE_CRUD" class="panel panel-default">
                            <!-- Default panel contents -->
                            <div class="panel-heading vertical-align"><i class="icon-catalogos icon-conf "></i> {{ 'configuration.catalogs.title' | i18next }}</div>
                            
                            <!-- List group -->
                            <ul class="list-group">
                                    <li class="list-group-item" show-permissions="LABORATORY_CRUD"><a data-ng-click=" selectedMenu = 'configuration'" href="#/laboratories">{{ 'configuration.catalogs.laboratories' | i18next }}</a></li>
                        <li class="list-group-item" show-permissions="GENETICIST_CRUD"><a data-ng-click=" selectedMenu = 'configuration'" href="#/geneticist">{{ 'configuration.catalogs.geneticists' | i18next }}</a></li>
                        <li class="list-group-item" show-permissions="BIO_MAT_CRUD"><a data-ng-click=" selectedMenu = 'configuration'" href="#/biomaterialtype">{{ 'configuration.catalogs.biomaterialType' | i18next }}</a></li>
                        <li class="list-group-item" show-permissions="MOTIVE_CRUD"><a data-ng-click=" selectedMenu = 'configuration'" href="#/motives">{{ 'configuration.catalogs.motives' | i18next }}</a></li>
    
    
                            </ul>
                          </div>


               
            </div>
        </div>
    </section>
</div>
</div>
</div>
