<div
	data-ng-controller="errorController" 
	id="errorDiv" style="position: fixed; bottom: 0px; left:0px; right:0px; z-index:2000; overflow: hidden; height: 0%" >
	  <button type="button" ng-click="closeError()" class="btn btn-danger" style="position: absolute;right: 10px;top: 10px;">
   		<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
   		<span class="sr-only">{{ 'buttons.close' | i18next }}</span>
	</button> 
	<iframe id="errorIframe" style="width: 100%; height: 100%"></iframe>
</div>
