<!DOCTYPE html>
<div class="modal-header">
    <h4 class="active">Confirmar copia de pedigrí</h4>
</div>
<div class="modal-body">
    <span>
        Esta intentando copiar un pedigri sin guardar los cambios en el pedigrí original.<br/>
    Si desea continuar con la copia, perderá los últimos cambios.<br/><br/>
    ¿Desea continuar con la operación?</span>
</div>
<div class="modal-footer">
    <div class="btn btn-link-action" ng-click="$dismiss()">
            <span title="Cerrar">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </span>
        <span class="btn-link-action">Cancelar</span>
    </div>
    <button class="btn btn-primary-action" ng-click="$close()">Aceptar</button>
</div>

