# bloop and metals
.bloop
.bsp

# metals
project/metals.sbt
.metals

# vs code
.vscode

# scala 3
.tasty

# sbt
project/project/
project/target/
target/
codegen/
app-2.11/

# suggested by play framework
logs
tmp
dist
.cache
RUNNING_PID

# eclipse
build/
.classpath
.project
.settings
.worksheet
bin/
.cache

# intellij idea
*.log
*.iml
*.ipr
*.iws
.idea

# mac
.DS_Store

# other?
.history
.scala_dependencies
.cache-main

# general
*.class

# GENis
public/export/
# dev conf files 
application-dev.conf
logger-dev.xml

# python cache
/utils/__pycache__/
.pytest_cache
