<form name="labForm">
	<div ng-controller="laboratoriesSaveController">
		<fieldset>
			<div data-ng-include="'/assets/javascripts/laboratories/save.html'" ></div>
		</fieldset>
		<footer class="laboratory-footer">
			<div class="desk-align-right inside-right">
				<div class="btn btn-link-action" ng-click="cancelForm()">
					
					<span title="Limpiar pantalla" class="btn-link-action">Limpiar</span>
				</div>

				<button id="save" type="button" class="btn btn-primary-action" data-ng-click="saveLaboratory(true)" data-ng-disabled="labForm.$invalid">Guardar</button>
			</div>
		</footer>
	</div>
</form>