<div class="m-t-10">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>{{ 'generics.name' | i18next }}</th>
            <th>{{ 'generics.code' | i18next }}</th>
            <th>{{ 'location.country' | i18next }}</th>
            <th>{{ 'location.province' | i18next }}</th>
            <th>{{ 'location.address' | i18next }}</th>
            <th>{{ 'generics.phone' | i18next }}</th>
            <th>{{ 'generics.email' | i18next }}</th>
            <th>{{ 'generics.modify' | i18next }}</th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="item in laboratories">
            <td>{{item.name}}</td>
            <td>{{item.code}}</td>
            <td>{{item.country}}</td>
            <td>{{item.province}}</td>
            <td>{{item.address}}</td>
            <td>{{item.telephone}}</td>
            <td>{{item.contactEmail}}</td>
            <td class="col-md-1 centered">
                <a class="btn btn-default btn-link-action btn-link-border" data-ng-click="doUpdate(item.code)">
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>