<fieldset ng-controller="newLocusController">

<form name="locusForm" novalidate>

    <div class="row m-t-10">
        <div class="col-md-3">
            <label for="lociID-id">ID<span class="field-obligated">*</span></label>
            <input id="lociID-id" type="text" class="form-control form-select" name="lociId" data-ng-model="full.locus.id" required ng-maxlength="50" />
            <form-validation input="locusForm.lociId" max="50"></form-validation>
        </div>
        <div class="col-md-3">
            <label for="lociName-id">{{ 'generics.name' | i18next }}<span class="field-obligated">*</span></label>
            <input id="lociName-id" type="text" class="form-control form-select" name="lociName" data-ng-model="full.locus.name" required ng-maxlength="100" />
            <form-validation input="locusForm.lociName" max="100"></form-validation>
        </div>
        <div class="col-md-2">
            <label for="lociCromo-id" help-tip="locus.add.chromosome" help-tip-placement="left">{{ 'generics.chromosome' | i18next }}</label>
            <input id="lociCromo-id" type="text" class="form-control form-select" name="lociChromosome"
                   data-ng-model="full.locus.chromosome"
                   data-ng-change="resetLinks()"
                   ng-pattern="/^([1-9]|[1]\d|2[0-2]|X|Y|XY|MT)$/"/>
                <form-validation input="locusForm.lociChromosome" pattern="1-22|X|Y|XY|MT"></form-validation>
        </div>
        <div class="col-md-4">
            <label for="newElement" help-tip="aliases" help-tip-placement="top">{{ 'generics.alias' | i18next }}</label>
            <tags-input class="tags-input" ng-model="full.alias" placeholder="{{ 'locus.add.alias.add' | i18next }}"></tags-input>
        </div>
    </div>

    <div class="locus-section-big">

        <div class="locus-section col-md-12">
            <h5>{{ 'generics.configuration' | i18next }}</h5>

            <div class="row" style="margin-top: 20px;">
                <div class="col-md-4 padding-0">
                    <div class="col-md-8">
                        <label help-tip="locus.add.minimumAllelesQty" help-tip-placement="top" for="lociMinimum-id">
                            {{ 'locus.helpTip.minimumAlleles' | i18next }}<span class="field-obligated">*</span></label>
                    </div>
                    <div class="col-md-3 padding-left-0">
                        <input name="lociMinimum" type="number" min="1" max="10" step="1"
                           class="form-control form-select" data-ng-model="full.locus.minimumAllelesQty" required id="lociMinimum-id" />
                        <form-validation input="locusForm.lociMinimum" min="1" max="10"></form-validation>
                    </div>
                </div>
                <div class="col-md-4 padding-0">
                    <div class="col-md-8">
                        <label help-tip="locus.add.maximumAllelesQty" help-tip-placement="top" for="loci-maximum">
                            {{ 'locus.helpTip.maximumAlleles' | i18next }}<span class="field-obligated">*</span></lable>
                    </div>
                    <div class="col-md-3 padding-left-0">
                        <input id="loci-maximum" name="lociMaximum" type="number" min="1" max="10" step="1"
                               class="form-control form-select" data-ng-model="full.locus.maximumAllelesQty" required />
                        <form-validation input="locusForm.lociMaximum" min="1" max="10"></form-validation>
                    </div>
                </div>
                <div class="col-md-4 padding-0">
                    <div class="col-md-5">
                        <label for="loci-type">{{ 'generics.analysisType' | i18next }}<span class="field-obligated">*</span></label>
                    </div>
                    <div class="col-md-7">
                        <select id="loci-type" data-ng-model="full.locus.analysisType" required
                                data-ng-options="item.id as item.name for (id,item) in analysisTypes"
                                class="form-control form-select" ng-change="resetLinks()">
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 padding-0">
                    <div class="col-md-3">
                        <label for="requiered-id">{{ 'locus.label.required' | i18next }}</label>
                    </div>
                    <div class="col-md-2">
                        <input type="checkbox" ng-model="full.locus.required" id="requiered-id">
                    </div>
                    <div class="col-md-7">
                    </div>
                </div>
                <div class="col-md-4 padding-0" ng-hide="full.locus.chromosome=='XY' || full.locus.chromosome=='MT' || !full.locus.chromosome">
                    <div class="col-md-8">
                        <label for="minAlleleValue">{{ 'locus.label.minAlleleValue' | i18next }}</label
                    <div class="col-md-3 padding-left-0">
                        <input name="minAlleleValue" id="minAlleleValue" ng-required="full.locus.chromosome!=='XY' && full.locus.chromosome!=='MT' && full.locus.chromosome" class="form-control form-select " type="number" min="0" step="1" max="99" ng-pattern="/^\d*(\.[1-9]{1,1})?$/" data-ng-model="full.locus.minAlleleValue" />

                    </div>
                </div>
                <div class="col-md-4 padding-0" ng-hide="full.locus.chromosome=='XY' || full.locus.chromosome=='MT' || !full.locus.chromosome">
                    <div class="col-md-8">
                        <label for="maxAlleleValue">{{ 'locus.label.maxAlleleValue' | i18next }}</label>
                    </div>
                    <div class="col-md-3 padding-left-0">
                        <input name="maxAlleleValue" id="maxAlleleValue" ng-required="full.locus.chromosome!=='XY' && full.locus.chromosome!=='MT' && full.locus.chromosome" class="form-control form-select" type="number"  min="{{full.locus.minAlleleValue}}" step="1" max="99" ng-pattern="/^\d*(\.[1-9]{1,1})?$/" data-ng-model="full.locus.maxAlleleValue" />
                    </div>
                </div>
            </div>
            <!--<div class="row">-->
                <!--<div class="col-md-4 padding-0">-->
                    <!--<div class="col-md-3">-->
                        <!--<h6>Valor alelo mínimo</h6>-->
                    <!--</div>-->
                    <!--<div class="col-md-2">-->
                        <!--&lt;!&ndash;ng-required="locusById[newLocus.locus].chromosome!=='XY' && locusById[newLocus.locus].chromosome!=='MT' && locusById[newLocus.locus].chromosome"&ndash;&gt;-->
                        <!--<input name="minAlleleValue" id="minAlleleValue" class="form-control form-select " type="number" min="0" step="1" max="99" ng-pattern="/^\d*(\.[1-9]{1,1})?$/" data-ng-model="full.locus.minAlleleValue" />-->

                    <!--</div>-->
                    <!--<div class="col-md-7">-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="row">-->
                <!--<div class="col-md-4 padding-0">-->
                    <!--<div class="col-md-3">-->
                        <!--<h6>Valor alelo máximo</h6>-->
                    <!--</div>-->
                    <!--<div class="col-md-2">-->
                        <!--<input name="maxAlleleValue" id="maxAlleleValue" class="form-control form-select" type="number" min="0" step="1" max="99" ng-pattern="/^\d*(\.[1-9]{1,1})?$/" data-ng-model="full.locus.maxAlleleValue" />-->
                    <!--</div>-->
                    <!--<div class="col-md-7">-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        </div>
    </div>
</form>

<div class="row padding-0">

    <div class="col-md-12 padding-right-0 padding-left-0" ng-show="canBeLinked()">
        <div class="locus-section-big" style="padding-top:0px">
            <div class="locus-section">

                <div class="col-md-1 padding-0">
                    <h5>{{ 'locus.links.add' | i18next }}</h5>
                </div>

                <div class="col-md-5">
                    <div class="locus-overflow">
                        <table class="table table-striped" style="width:100%">
                            <tbody>
                            <tr ng-repeat="link in full.links">
                                <td style="width: 50%">{{link.locus}}</td>
                                <td style="width: 25%">Factor: {{link.factor}}</td>
                                <td style="width: 25%">{{ 'locus.label.distance' | i18next }}: {{link.distance}}</td>
                                <td style="width: 10%">
                                    <button class="btn" ng-click="removeLink($index);"
                                            help-tip="locus.add.links.remove" help-tip-placement="left">
                                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="col-md-6">
                    <form name="newLinkForm" novalidate>
                        <div class="col-md-10 padding-left-0">
                            <p class="display-block">
                                <span>{{ 'locus.label.pickLocus' | i18next }}</span>
                                <span class="error-text pull-right" ng-if="!full.locus.chromosome">{{ 'locus.label.enterChromosome' | i18next }}</span>
                            </p>
                        </div>
                        <div class="col-md-10 padding-left-0 m-b-10">
                            <select id="loci-new-link-locus" data-ng-model="newLink.locus" ng-disabled="!full.locus.chromosome"
                                    data-ng-options="item.locus.id as item.locus.id for item in locusByAnalysisType[full.locus.analysisType] | filter:alreadyAddedLinks | filter: { locus: { chromosome: full.locus.chromosome } } : true | orderBy:'locus.id'"
                                    class="form-control form-select" ng-disabled="!link"
                                    help-tip="locus.add.links.select" help-tip-placement="bottom">
                            </select>
                        </div>
                        <div class="col-md-2">
                            <button class="btn" ng-click="addLink()"
                                    ng-disabled="newLinkForm.$invalid"
                                    help-tip="locus.add.links.add" help-tip-placement="bottom">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                        </div>
                        <div class="col-md-5 padding-left-0">
                            <input id="loci-new-link-factor" class="form-control form-select" ng-disabled="!full.locus.chromosome"
                                   data-ng-model="newLink.factor" placeholder="{{ 'locus.label.factor' | i18next }}" type="number" required />
                        </div>
                        <div class="col-md-5">
                            <input id="loci-new-link-distance" class="form-control form-select" ng-disabled="!full.locus.chromosome"
                                   data-ng-model="newLink.distance" placeholder="{{ 'locus.label.distance' | i18next }}" type="number" required />
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>

<footer class="locus-footer">
    <div class="desk-align-right inside-right">

        <div class="btn btn-link-action" data-ng-click="cancel()">
            <span title="Limpiar pantalla" class="btn-link-action">{{ 'buttons.clean' | i18next }}</span>
        </div>

        <button id="save" type="button" data-ng-click="save()"
                class="btn btn-primary-action"
                ng-disabled="locusForm.$invalid"
                help-tip="locus.add.save" help-tip-placement="left">{{ 'buttons.save' | i18next }}</button>

    </div>
</footer>

</fieldset>