<div ng-controller="groupController">
    <div class="panel panel-default" ng-show="totalItems !== '0'">

    <div class="row tabla-referencia">
        <div ng-init="searchMatches('Compatibility')" ng-show="totalItems !== '0'">

<!--
                <h4 class="title">
                    <span class="bold panel-title">Compatibilidad</span>
                    <span class="icon-refresh" ng-class="{'spinner': normal.isProcessing}" data-ng-show="normal.isProcessing"></span>
                </h4>
                <a data-toggle="collapse" href="#compatibility" class="a-icon-arrow-down" ><span class="icon-arrow-down" ></span></a>
            </div>
            -->
        </div>

        <div class="panel-collapse collapse in">
            <div class="panel-body tabla-referencia-content">
                <table class="table table-striped table-matches-details ">
                    <thead>
                    <tr>
                        <th>
                            &nbsp;
                        </th>
                        <th class="text-center col-md-2 head-column"><p ng-show="groupByProfile()">Caso </p>
                            <pdg-sortable ng-show="groupByPedigree()" name="Código Laboratorio" predicate="sortField" reverse="!ascending"
                                          sort-action="sortBy('Compatibility', 'profile')" sort-field="profile"></pdg-sortable>
                        </th>

                        <th class="text-center col-md-2 head-column"> <p  ng-show="groupByProfile()">Pedigrí</p>
                            <pdg-sortable ng-show="groupByPedigree()" name="Código GENis" predicate="sortField" reverse="!ascending"
                                          sort-action="sortBy('Compatibility', 'profileg')" sort-field="profileg"></pdg-sortable>
                        </th>

                        <th class="text-center col-md-2 head-column" ng-if="groupByPedigree()" style="width:45%">
                            <pdg-sortable name="Categoría" predicate="sortField" reverse="!ascending"
                                          sort-action="sortBy('Compatibility', 'category')" sort-field="category"></pdg-sortable>
                        </th>
                        
                        <th class="text-center col-md-1 head-column" style="width:5%">
                            <pdg-sortable name="Fecha" predicate="sortField" reverse="!ascending"
                                          sort-action="sortBy('Compatibility', 'date')" sort-field="date"></pdg-sortable>
                        </th>

                        <th class="text-center col-md-1 head-column">
                            <pdg-sortable name="LR" predicate="sortField" reverse="!ascending"
                                          sort-action="sortBy('Compatibility', 'compatibility')" sort-field="compatibility"></pdg-sortable>
                        </th>
                        <th class="text-center col-md-1 head-column">
                            <pdg-sortable name="Estado " predicate="sortField" reverse="!ascending"
                                          sort-action="sortBy('Compatibility', 'pedigreeStatus')" sort-field="pedigreeStatus"></pdg-sortable>
                        </th>
                        <th class="text-center col-md-1 head-column" style="width:2%">
                            &nbsp;
                        </th>
                        <th class="text-center col-md-1 head-column" style="width:2%">
                            &nbsp;
                        </th>
                        <th class="text-center col-md-1 head-column" style="width:2%">
                            &nbsp;
                        </th>
                        <th class="text-center col-md-1 head-column" style="width: 2%">Análisis Mitocondrial</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng:repeat="m in matches">
                        <td></td>
                        <td class="text-center" >
                            <p ng-show="groupByProfile()">{{m.pedigree.courtCaseName}} </p>
                            <p ng-show="groupByPedigree()">{{m.internalSampleCode}}</p>
                        </td>

                        <td class="text-center">
                            <p ng-show="groupByProfile()">{{m.pedigree.internalSampleCode}} </p>
                            <p ng-show="groupByPedigree()">{{m.profile.globalCode}}</p>
                        </td>
                        <td class="text-center" ng-if="groupByPedigree()">
                            {{m.profile.categoryId}}
                        </td>
                        <td class="text-center" style="width:10%">
                            {{m.matchingDate.$date | date:'yyyy-MM-dd'}}
                        </td>
                        <td class="text-center">
                            <span ng-if="m.compatibility != 0"> {{m.compatibility | likelihoodratio:true:true}} </span>
                            <span ng-if="m.compatibility == 0">-</span>

                        </td>

                        <td class="text-center">{{ matchStatus[m.pedigree.status] }}</td>

                       <!-- <td class="text-center">{{ matchStatus[m.profile.status] }}</td> -->

                        <td class="text-center">
                         <a id="goToScenarioDisabled" ng-if="!canDiscard(m)||isHit(m)" class="btn" disabled="disabled">
                                <span class="icon-agregar-escenario" aria-hidden="true"></span>
                            </a>
                            <a ng-if="canDiscard(m)&&!isHit(m)" ng-disabled="!canDiscard(m)||isHit(m)" class="btn" title="Nuevo escenario" href="{{goToScenario(m.courtCaseId ,m.pedigree, m.profile, m._id.$oid)}}">
                                <span class="icon-agregar-escenario" aria-hidden="true"></span>
                            </a>
                        </td>

                        <td class="text-center">
                            <a id="doDiscardDisabled" ng-if="!canDiscard(m)||isHit(m)" class="btn" disabled="disabled" title="Descartar">
                                <span class="icon-descartar" aria-hidden="true"></span>
                            </a>
                            <a id="doDiscard" ng-if="canDiscard(m)&&!isHit(m)"
                               prueba="{{ m.pedigree.status === 'pending'}}"
                               data-ng-disabled="{{ m.pedigree.status !== 'pending'}}"
                               pdg-confirm pdg-confirm-title="Descartar Coincidencia"
                                    pdg-confirm-content="Al confirmar esta acción se descartará la coincidencia. ¿Está seguro?"
                                    param="{{m}}" class="btn" pdg-on-confirm="discard">
                                <span class="icon-descartar"></span>
                            </a>
                        </td>
                        <td>
                            <a ng-show="m.message !== '' " popover="{{m.message}}" popover-placement="left-bottom">Ver información</a>
                        </td>
                        <td class="text-center">
                            <a ng-disabled="!m.matchingId" id="go_evidencia_{{$index}}" class="btn" title="Ver análisis mitocondrial" ng-click="goToComparisonScreening(m.mtProfile, m.profile.globalCode, m.matchingId)">
                                <span class="icon-ver" aria-hidden="true"></span>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="12" style="padding-top: 25px; text-align: center;">
                            <pagination style="position: initial; transform: translate(0, 0);" boundary-links="true" ng-change="searchMatches('Compatibility')" items-per-page="{{pageSize}}" max-size="10" total-items="totalItems" ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"  rotate="false"></pagination>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
