<div ng-controller="courtCaseDataController">
	<h5>{{ 'pedigree.courtCase.caseData' | i18next }}</h5>

	<div class="item-input">
		<label for="court">{{ 'profileViews.court' | i18next }}</label> <input id="court" type="text" class="form-control form-select" data-ng-disabled="mode == 'readonly'"
			data-ng-model="$parent.profileData.court"/>
	</div>

	<div class="item-input">
		<label for="attorney">{{ 'pedigree.causeData.prosecutor' | i18next }}</label> <input id="attorney" type="text" class="form-control form-select" data-ng-disabled="mode == 'readonly'"
			data-ng-model="$parent.profileData.attorney" />
	</div>

	<div class="item-input">
		<label for="crimeType">{{ 'pedigree.causeData.crimeType' | i18next }}</label> <select id="crimeType" data-ng-disabled="mode == 'readonly'"
			data-ng-model="$parent.profileData.crimeType" class="form-control form-select"
			data-ng-options="ctId as ct.name for (ctId, ct) in crimeTypes | orderBy:['ct','name']"></select>
	</div>

	<div class="item-input">
		<label for="crimeInvolved"></label>{{ 'pedigree.causeData.crimeInvolved' | i18next }}<select id="crimeInvolved" data-ng-disabled="mode == 'readonly'"
			data-ng-model="$parent.profileData.crimeInvolved" class="form-control form-select"
			data-ng-options="sc.id as sc.name for sc in crimeTypes[profileData.crimeType].crimes | orderBy:'name'">
		</select>
	</div>

	<div class="item-input">
		<label for="criminalCase">{{ 'pedigree.causeData.number' | i18next }}</label> <input id="criminalCase" data-ng-disabled="mode == 'readonly'"
			type="text" data-ng-model="$parent.profileData.criminalCase" class="form-control form-select" />
	</div>
</div>
