<div class="modal-header">
	<h4 ng-if="validated">{{'buttons.validateAndSave' | i18next }}</h4>
	<h4 ng-if="!validated">{{ 'buttons.validate' | i18next }}</h4>
</div>
<div class="modal-body">
	<form class="form-horizontal" name="nameForm">
		<div class="form-group">
			<label for="name" class="col-sm-2 control-label">{{ 'generics.name' | i18next }}</label>
			<div class="col-sm-10">
		  		<input ng-model="name" type="text" name="name" class="form-control form-select" id="name" required>
				<form-validation input="nameForm.name"></form-validation>
			</div>
	  	</div>
		<div class="form-group">
			<label for="description" class="col-sm-2 control-label">{{ 'generics.description' | i18next }}</label>
			<div class="col-sm-10">
				<textarea ng-model="description" class="form-control form-select" id="description"></textarea>
			</div>
		</div>
	</form>
</div>
<div class="modal-footer">

    <div class="desk-align-right inside-right">

	    <div class="btn btn-link-action" ng-click="cancel()">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            <span class="btn-link-action">{{ 'buttons.cancel' | i18next }}</span>
        </div>

        <button ng-if="validated"
                id="validateAndSave"
                pdg-confirm pdg-confirm-title="{{ 'scenario.validate' | i18next }}"
                ng-disabled="nameForm.$invalid"
                pdg-confirm-content="{{ 'scenario.validateHypothesis' | i18next }}"
                type="button"
                class="btn btn-primary-action" pdg-on-confirm="validateAndSave">{{'buttons.validateAndSave' | i18next }}</button>
        <button ng-if="!validated" class="btn btn-primary-action" ng-disabled="nameForm.$invalid" ng-click="save()">{{'buttons.save' | i18next }}</button>

    </div>

</div>
