<div class="modal-header">
	<h4>Detalle de trazabilidad</h4>
</div>
<div class="modal-body" style="text-align: justify">
    <h6>{{trace.description}}</h6>
    <hr class="m-t-10"/>
    <p style="white-space:pre-line;">{{fullDescription}}</p>
</div>
<div class="modal-footer" style="margin-top: 0px;">
   <div class="btn btn-link-action" ng-click="cancel()">
       <span title="Cerrar">
           <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
       </span>
       <span class="btn-link-action">Cerrar</span>
   </div>
</div>
