

<div class="row padding-0 breadcrumb_column">
        <div class="col-md-12 padding-0">
            <div class="row padding-0">
                <div class="breadcrumb_content">
                    <ol class="breadcrumb">
                            <li>
                                <div class="btn volver" onclick="history.back()">
                                    <span  class="icon-atras" title="Volver"></span>
                                </div>
                            </li>
                            <li class="active">Aprobación de perfiles provenientes de instancias inferiores</li>
                        
                    </ol>
                </div>
            </div>
        </div>
    </div>



    
    
    <div class="container-top" >
        <div class="row">
                <div class="content m-t-10 padding-0">
    <section class="extended-section">
        <div>
            <button class="btn btn-secondary-action boton" data-ng-click="init()"><i class="icon-refresh fa-1x" aria-hidden="true"></i> Actualizar lista</button>
            <br>
        </div>
        <div class="content-wrap-small">
            <button class="btn btn-link-action" ng-click="selectAll()" ><span class="glyphicon glyphicon-ok"></span><span> Seleccionar todos</span></button>
            <button class="btn btn-secondary-action" ng-click="approveSelected()" >Aprobar seleccionados</button>
            <table class="table table-striped ng-scope" style="table-layout:fixed;">
                <thead>
                    <tr >
                        <th style="width: 2%"></th>
                        <th class="text-center col-md-2">Código GENis</th>
                        <th class="text-center col-md-1">Categoría Local</th>
                        <th class="text-center col-md-1">Laboratorio</th>
                        <th class="text-center col-md-2">Fecha y Hora</th>
                        <th class="text-center col-md-1">Tiene Víctima Asociada</th>
                        <th class="text-center col-md-1">Genetista Asignado</th>
                        <th class="col-md-2" style="text-align:  left;"></th>
                        <th class="text-center col-md-2">
                            <div class="row padding-0">
                                <div class="col-md-3 text-center padding-0">STR</div>
                                <div class="col-md-3 text-center padding-0">MT</div>
                                <div class="col-md-3 text-center padding-0"></div>
                                <div class="col-md-3 text-center padding-0"></div>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody ng-repeat="p in profiles">
                    <tr>
                        <td><input type="checkbox" ng-model="p.selected"></td>
                        <td class="text-center">{{p.globalCode}}</td>
                        <td class="text-center">{{p.category}}</td>
                        <td class="text-center">{{p.laboratory}}</td>
                        <td class="text-center">{{p.receptionDate.substring(0,16)}}</td>
                        <td class="text-center"> {{p.hasAssociatedProfile?'SI':'NO'}} </td>
                        <td class="text-center"> {{p.assignee}} </td>
                        <td style="text-align:  left;">
                            <button class="btn btn-default btn-link-action btn-link-border" title="Rechazar" ng-click="reject(p)">
                                <span class="glyphicon glyphicon-thumbs-down" ></span>
                            </button>
                            <button class="btn btn-default btn-link-action btn-link-border" title="Aprobar" ng-click="import(p)">
                                <span class="glyphicon glyphicon-thumbs-up" ></span>
                            </button>
                            <a popover="{{p.errors}}" popover-placement="left" ng-show="!!p.errors" >Ver Errores</a>
                        </td>
                        <td class="text-center">
                            <div class="row padding-0">
                                <div class="col-md-3 text-center padding-0">
                                    <button  ng-disabled="!p.genotypification" class="btn btn-default btn-link-action btn-link-border" pdg-gen-popover gen="p.genotypification">
                                        <span ng-disabled="!p.genotypification" class="glyphicon glyphicon-eye-open" aria-hidden="true" title="Ver genotipificación" ></span>
                                    </button>
                                </div>
                                <div class="col-md-3 text-center padding-0">
                                    <button ng-disabled="!p.genotypificationMT" class="btn btn-default btn-link-action btn-link-border" pdg-gen-popover-mt gen="p.genotypificationMT">
                                        <span ng-disabled="!p.genotypificationMT"  class="glyphicon glyphicon-eye-open" aria-hidden="true" title="Ver genotipificación Mitocondrial"></span>
                                    </button>
                                </div>
                                <div class="col-md-3 text-center padding-0">
                                    <button class="btn btn-default btn-link-action btn-link-border" ng-disabled="!p.hasElectropherogram" data-ng-click="showElectropherograms(p.globalCode)"
                                            data-toggle="tooltip" data-placement="top" title="Ver electropherogramas">
                                        <span class="glyphicon glyphicon-picture" aria-hidden="true" ng-disabled="!p.hasElectropherogram"></span>
                                    </button>
                                </div>
                                <div class="col-md-3 text-center padding-0">
                                    <button class="btn btn-default btn-link-action btn-link-border" ng-disabled="!p.hasFiles" data-ng-click="showFiles(p.globalCode)"
                                            data-toggle="tooltip" data-placement="top" title="Ver archivos">
                                        <span class="glyphicon glyphicon-file" aria-hidden="true" ng-disabled="!p.hasFiles"></span>
                                    </button>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="9" class="padding-0" ng-show="isProfileModified(p.globalCode)">
                            {{ getCatergoryModificationText(p.globalCode) }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
</div>
</div>
</div>
<footer class="pedigree-footer">
    <div>
        <pagination boundary-links="true" ng-change="changePage()" items-per-page="{{pageSize}}" max-size="10" total-items="totalItems" ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"  rotate="false"></pagination>
    </div>
</footer>
