
<div class="row padding-0 breadcrumb_column">
    <div class="col-md-12 padding-0">
        <div class="row padding-0">
            <div class="breadcrumb_content">
                <ol class="breadcrumb">
                        <li>
                            <div class="btn volver" onclick="history.back()">
                                <span  class="icon-atras" title="{{ 'buttons.back' | i18next }}"></span>
                            </div>
                        </li>
                        <li class="active">{{ 'generics.profile' | i18next }}: {{profile.internalSampleCode}} [{{profile.globalCode}}]</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="container-top">
        <div class="row padding-0">
                <div class="content padding-0">
	<section class="extended-section">
        <div class="tabs tabs-style-line">
			<nav class="padding-left-0" ng-class="{'col-md-10': profile.editable && !isDeleted,
			                'padding-right-0': !profile.editable || isDeleted,
			                'col-md-12': !profile.editable || isDeleted}">
				<ul>
					<li ng-repeat="at in analysisTypes" ng-class="{'tab-current': activeAnalysis === at.id}">
						<a href="" ng-click="selectAnalysis(at.id)"><span>{{'analysisTypes.' + at.name | i18next}}</span></a>
					</li>
				</ul>
			</nav>
            <div class="col-md-2 pull-right padding-right-0" ng-show="profile.editable && !isDeleted">
                <button type="button" ng-class="{'btn-primary-action-selected': showAdd}"
                        class="btn btn-primary-action pull-right"
                        data-ng-click="!showAdd && goToNewAnalysis()" data-ng-disabled="(!subcategory.manualLoading) || profile.readOnly">
                    <!-- <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> -->
                    <span>{{ 'generics.newAnalysis' | i18next }}</span>
                </button>
            </div>
		</div>
        <div class="content-wrap">
            <div ng-show="showAdd" style="background-color: #FFF;" id="new-analysis">
                <div ng-controller="newAnalysisController" class="tab-content"
                     ng-include="'/assets/javascripts/profiles/views/new-analysis.html'"></div>
            </div>
            <tabset class="tabset-section" ng-show="showDna" id="profile-tabs">
                <tab active="analysisType.active" heading="{{ 'generics.dnaProfile' | i18next }}" ng-repeat="analysisType in analysisTypes"
                     ng-show="activeAnalysis===analysisType.id">
                    <div    ng-controller="dnaController" class="tab-content"
                            ng-include="'/assets/javascripts/profiles/views/dna.html'" class="animated fadeIn"/>
                </tab>
                <tab ng-show="activeAnalysis!=4"
                     ng-repeat="analysis in profile.analyses | filterByKitType:activeAnalysis:kitsById"
                     heading="{{getKitName(analysis.kit)}}: {{analysis.date|date:'dd/MM/yyyy'}}">
                    <div ng-include="'/assets/javascripts/profiles/views/analysis.html'" class="animated fadeIn tab-content"/>
                </tab>
            </tabset>
		</div>
	</section>
</div>
</div>
</div>

