<!DOCTYPE html>
<div class="modal-header">
    <h4 class="active">Resultados de la búsqueda de escritorio</h4>
</div>

<div class="modal-body">
    <div class="row">

        <div class="not-matchStatus" title="Estado del proceso de búsqueda de coincidencias">

            <a id="matchiNoti" class="dropdown-toggle fa-stack noti-counter" data-toggle="dropdown" aria-expanded="false" style="top:-4px;">

                <b data-ng-if="stall" class="fa-stack font-color-grey">
                    <b class="icon-circulo icon-stack-2x"></b>
                    <b class="icon-estado_proceso_busqueda-coincidencias icon-stack-2x"></b>
                </b>

                <div data-ng-if="working" style="display: flex; flex-direction: column; align-items: center;">
                    <i class="fa-stack">
                        <i class="fa fa-spinner fa-pulse fa-stack-2x"></i>
                        <i class="icon-estado_proceso_busqueda-coincidencias icon-stack-2x"></i>
                    </i>
                    <div style="font-size: 12px; margin-top: 4px;">Búsqueda de coincidencias en proceso</div>
                </div>

                <i data-ng-if="fail" class="fa-stack">
                    <i class="fa fa-ban fa-stack-2x text-danger"></i>
                    <i class="icon-estado_proceso_busqueda-coincidencias icon-stack-2x"></i>
                </i>

            </a>
        </div>


        <div class="col-md-4 text-center ">

            <label class="control-label" style="margin-top: 10px">Elija---:</label>
            </br></br>
            <span class="btn btn-link-action btn-block btn-file">
                <span class="glyphicon glyphicon-upload"></span>
                 Elija archivo
                <input id="archivo" type="file" name="file" ngf-select=""
                       ng-model="files" help-tip="format.bulkUpload" help-tip-placement="right">
            </span>
            </br>
            <label class="control-label">Nombre del Lote:</label>
        </div>

        <div class="col-md-4 text-center" style="margin-top: 5px">

            <select ng-model="analisis" class="form-control form-select"
                    ng-change="onChange(analisis)"
                    data-ng-options="item.label for item in analysis">
            </select>
            </br>
            <input type="text" ng-disabled='true' placeholder="{{files[0].name| prittyLimitTo : 20: true }}">
            </br></br>
            <input type="text" ng-model="nombreLote" placeholder="Nombre de lote opcional">
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="btn btn-link-action" ng-click="cancel()">
            <span title="Cerrar">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </span>
        <span class="btn-link-action">Cerrar</span>
    </div>
    <button
            class="btn btn-primary-action"
            ng-click="closeModal(files, nombreLote, tipoAnalisis)"
            ng-disabled="!files.length > 0"
    >Agregar
    </button>
</div>
