<div class="row padding-0 breadcrumb_column">
	<div class="col-md-12 padding-0">
		<div class="row padding-0">
			<div class="breadcrumb_content">
				<ol class="breadcrumb">
					<li>
						<div class="btn volver" onclick="history.back()">
							<span class="icon-atras" title="Volver"></span>
						</div>
					</li>
					<li class="active">Aceptación masiva de análisis - Genetista</li>
				</ol>
			</div>
		</div>
	</div>
</div>

<div class="container-top">
	<div class="row">
		<div class="content m-t-10 padding-0">
			<div class="batch-header hide">
				<div class="input-group input-search" style="padding-bottom: 10px;">
					<input type="text" class="form-control" id="searchtext" name="searchtext" ng-model="search.sampleName" placeholder="Buscar por ID de análisis">
				</div>
			</div>

			<div class="row m-b-10">
				<a ng-repeat="option in showOptions" role="button" class="btn btn-default m-r-5 list-group-menu-item" help-tip="{{option.helptip}}" help-tip-placement="{{option.placement}}" ng-class="{'list-group-menu-item-selected': activeOption === $index}" ng-click="show($index)">{{option.label}}</a>
				<span class="iconrefresh" ng-class="{'spinner': isProcessing}" data-ng-show="isProcessing"></span>
			</div>

			<br>
			<accordion close-others="false">
				<accordion-group ng-repeat="l in batches" is-open="l.isOpen">
					<accordion-heading>
						<table class="table-accordeon">
							<tr class="row-accordeon">
								<td class="col-md-8"><span>Lote #{{l.id}} {{l.analysisType}} {{l.label}}</span></td>
								<td class="col-md-1"></td>
								<td class="col-md-1">
									<button class="btn btn-secondary-action"
											ng-click="$event.stopPropagation();$event.preventDefault();importBatch(l);desktopSearchResults(l)"
											ng-disabled="l.isProcessing || l.totalForApprovalOrImport==0 || protoProfiles[l.id].todosAprobados || l.acceptAllDisabled">
										Aceptar todo
									</button>
								</td>
								<td class="col-md-1">
									<button class="btn btn-secondary-action" ng-click="$event.stopPropagation();$event.preventDefault();" pdg-confirm pdg-confirm-title="Confirmar eliminación del lote" pdg-confirm-content="¿Está seguro de eliminar el lote?" pdg-on-confirm="doDeleteBatch" param="{{l}}" ng-disabled="l.isProcessing">Eliminar</button>
								</td>
								<td class="col-md-1">
									<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': l.isOpen, 'glyphicon-chevron-right': !l.isOpen}"></i>
								</td>
							</tr>
						</table>
					</accordion-heading>

					<button class="btn btn-link-action" ng-click="selectAll(l.id)" ng-disabled="l.isProcessing || protoProfiles[l.id].todosAprobados"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span><span> Seleccionar todos</span></button>
					<!-- Aceptar Seleccionados Button -->
					<button class="btn btn-secondary-action"
							ng-click="importSelected(l)"
							ng-disabled="l.isProcessing || protoProfiles[l.id].todosAprobados || l.acceptSelectedDisabled">
						Aceptar seleccionados
					</button>
					<button class="btn btn-secondary-action"
							ng-click="replicateAllToggle(l.id)"
							ng-disabled="l.isProcessing || !protoProfiles[l.id].anyReplicable || protoProfiles[l.id].disableReplicateAll">
						<span ng-if="!protoProfiles[l.id].allReplicated">Replicar todos</span>
						<span ng-if="protoProfiles[l.id].allReplicated">No replicar ninguno</span>
					</button>
					<button class="btn btn-secondary-action" ng-click="replicateSelected(l.id)" ng-disabled="l.isProcessing || !anySelectedForReplication(l.id)">
						Replicar Seleccionados
					</button>
					<span id="processingSpan" class="icon-refresh" data-ng-class="{'spinner': l.isProcessing}" data-ng-show="l.isProcessing"></span>
					<table class="table table-striped" style="table-layout:fixed;">
						<thead>
						<tr>
							<th style="width:2%"></th>
							<th class="text-center col-md-2">Código Laboratorio</th>
							<th class="text-center col-md-2">Categoría</th>
							<th class="text-center col-md-1">Kit</th>
							<th class="text-center col-md-1">Estado</th>
							<th class="text-center col-md-1">Replicar a instancia superior</th>
							<th class="text-center col-md-1">Búsqueda de escritorio</th>
							<th class="col-md-2">Rechazar/Aceptar</th>
							<th class="col-md-2">Mensajes</th>
							<th class="col-md-1">Análisis</th>
						</tr>
						</thead>
						<tbody>
						<tr ng-repeat="r in protoProfiles[l.id]" name="{{'row_' + $index}}">
							<td>
								<input type="checkbox" ng-model="r.selected" ng-disabled="r.status!= 'Approved'">
							</td>
							<td class="text-center">{{r.sampleName}} <i data-ng-if="r.preexistence" title="Perfil ligado a {{r.preexistence}}" class="fa fa-link"></i></td>

							<!-- MODIFIED SECTION START: Removed edit pencil and dropdown logic -->
							<td class="text-center">
								<span>{{r.category}}</span>
							</td>
							<!-- MODIFIED SECTION END -->

							<td class="text-center">{{r.kit}}</td>
							<td class="text-center">
								<span ng-if="r.status == 'Uploaded'">Replicado</span>
								<span ng-if="r.status == 'Rejected'">Rechazado</span>
								<span ng-if="r.status == 'Imported'">Aceptado</span>
								<span ng-if="r.status == 'Approved'">Aprobado</span>
								<span ng-if="r.status == 'ReplicatedMatchingProfile'">Coincidente</span>
								<span ng-if="r.status == 'DesktopSeach'">Búsqueda de escritorio</span>
								<span {{statusMap[r.status]}}</span>
							</td>
							<td class="text-center">
								<input type="checkbox"
									   ng-model="r.replicate"
									   ng-disabled="r.replicateDisabled
                       								|| !$parent.subcategory[r.category].replicate
                       								|| r.replicated
                       								|| !r.replicable
                       								|| r.status === 'ReplicatedMatchingProfile'
                        							|| r.status !== 'Imported'
                       								|| r.status === 'DesktopSearch'"
									   ng-class="{'disabled-checkbox': r.replicateDisabled || r.status === 'DesktopSearch' || r.status === 'ReplicatedMatchingProfile'  || r.replicated || !r.replicable}">
							</td>
							<td class="text-center">
								<input type="checkbox"
									   ng-model="l.desktopSearch"
									   ng-disabled="protoProfiles[l.id].length !== 1
                        							|| protoProfiles[l.id][0].status === 'DesktopSearch'
                        							|| protoProfiles[l.id][0].replicated
                        							|| r.status !== 'Approved'"
									   ng-checked="protoProfiles[l.id].length === 1
                      							   && protoProfiles[l.id][0].status === 'DesktopSearch'"
									   ng-change="handleDesktopSearchChange(l)">
							</td>

							<td class="text-center">
								<button ng-if="r.status === 'Approved'" ng-disabled="l.isProcessing" class="btn btn-default btn-link-action btn-link-border" title="Rechazar análisis" ng-click="reject(r, l)">
									<span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
								</button>
								<button ng-if="r.status === 'Approved'" ng-disabled="l.isProcessing" class="btn btn-default btn-link-action btn-link-border" title="Aceptar análisis" ng-click="import(r, l);desktopSearchResults(l)">
									<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
								</button>
							</td>
							<td>
								<div data-ng-show="r.rejectMotive">Motivo de Rechazo: {{r.rejectMotive}}</div>
								<div data-ng-show="r.errors && r.errors.length > 0">
									Errores:<br>
									<span data-ng-repeat="err in r.errors">{{err}}<br></span>
								</div>
								<div ng-if="r.status === 'ReplicatedMatchingProfile'">
									Perfil coincidente ya replicado
								</div>
							</td>
							<td class="text-center" title="Ver genotipificación">
								<button ng-if="r.kit === 'Mitocondrial'" class="btn btn-default btn-link-action btn-link-border" pdg-gen-popover-mt gen="r.genotypification">
									<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
								</button>
								<button ng-if="r.kit !== 'Mitocondrial'" class="btn btn-default btn-link-action btn-link-border" pdg-gen-popover gen="r.genotypification">
									<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
								</button>
							</td>
						</tr>
						<tr>
							<td colspan="9" style="padding-top: 25px; text-align: center;">
								<pagination ng-disabled="l.isProcessing" style="position: initial; transform: translate(0, 0);" boundary-links="true" ng-change="changePage(l)" items-per-page="{{l.pageSize}}" max-size="10" total-items="l.totalAnalysis" ng-model="l.page" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" rotate="false"></pagination>
							</td>
						</tr>
						</tbody>
					</table>
				</accordion-group>
			</accordion>
		</div>
	</div>
	<footer style="z-index:2">
		<div style="width: 100%;">
			<pagination
					ng-disabled="isProcessing"
					boundary-links="true"
					items-per-page="batchesPageSize"
					total-items="totalBatches"
					ng-model="batchesPage"
					ng-change="changeBatchesPage()"
					max-size="10"
					class="pagination-sm"
					previous-text="&lsaquo;"
					next-text="&rsaquo;"
					first-text="&laquo;"
					last-text="&raquo;"
					rotate="false">
			</pagination>
		</div>
	</footer>
</div>
