<div class="row padding-0 breadcrumb_column">
    <div class="col-md-12 padding-0">
        <div class="row padding-0">
            <div class="breadcrumb_content">
                <ol class="breadcrumb">
                    <li>
                        <div class="btn volver" click="history.back()">
                            <span  class="icon-atras" title="Volver"></span>                            
                        </div>
                    </li>
                    <li class="active">{{ 'matches.forensic' | i18next }}</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="container-top">
	<div class="options-header">
		<form class="navbar-form" role="search" name="searchMatchForm" novalidate data-ng-submit="searchMatches()">
            
            <div class="row padding-0">
                <div class="col-md-12  match-group-search">
                    <div class="row padding-0">
                        <!-- perfil -->
                        <div class="filtro_container">
                            <div class="row padding-0">
                                <div class="form-group col-md-4">
                                    <div class="row  m-t-0 m-b-0 vertical-align">
                                        <div class="col-md-2">
                                            <label class="m-r-10" for="search-profile">{{ 'generics.profile' | i18next }}</label>
                                        </div>
                                        <div class="col-md-10">
                                            <input id="search-profile" type="text" data-ng-model="search.profile" placeholder="{{ 'generics.code' | i18next }}" class="form-control form-select"/>
                                        </div>
                                    </div>
                                </div>
                                 <!-- Categoria -->
                                 <div class="col-md-4 vertical-align ">
                                        <div class="col-md-3">
                                            <label for="search-category">{{ 'generics.category' | i18next }}</label>
                                        </div>
                                        <div class="item-input col-md-9">
                                            <select id="search-category" data-ng-model="search.category" class="custom-select col-md-8 form-control form-select">
                                                        <option data-ng-repeat="catId in groups " value="{{catId.id}}" ng-selected="categoryCode === catId.id">{{catId.name}}</option>
                                                </select>



                                                <!-- <option value="{{undefined}}"></option>
                                                <option data-ng-repeat="laboratory in laboratories" value="{{laboratory.code}}">{{laboratory.name}}</option> -->
                                            </select>
                                        </div>
                                    </div>
                                <!-- laboratorio -->
                                <div class="col-md-4 vertical-align">
                                    <div class="col-md-3">
                                        <label for="search-laboratory">{{ 'generics.laboratory' | i18next }}</label>
                                    </div>
                                    <div class="item-input col-md-9">
                                        <select id="search-laboratory" data-ng-model="search.laboratoryCode" class="custom-select col-md-8 form-control form-select">
                                            <option value="{{undefined}}"></option>
                                            <option data-ng-repeat="laboratory in laboratories" value="{{laboratory.code}}" ng-selected="laboratoryCode === laboratory.code">{{laboratory.name}}</option>
                                        </select>
                                    </div>
                                </div>
                               
                                
                            </div>
                        </div>
                    </div>
                    
                    
                    <div class="row padding-0">
                        <!-- Buscar -->
                        <div class="filtro_container">
                            <div class="row ">
                                 <!-- fecha  -->
                                 <div class="item-input col-md-8 vertical-align">
                                        <div class="col-md-1 padding-left-0">
                                            <label class="m-r-10" for="hourFrom">{{ 'generics.date' | i18next }}</label>
                                        </div>
                                        <div class="col-md-10 padding-left-0 padding-right-30">
                                            <div class="row padding-0  m-t-0 m-b-0 ">      
                                                <div class="col-md-6">
                                                    <input type="text" name="hourFrom" id="hourFrom"
                                                    placeholder="{{ 'generics.since' | i18next }}" data-datepicker-popup="dd/MM/yyyy"
                                                    data-ng-model="search.hourFrom"
                                                    data-is-open="datepickers.hourFrom" class="form-control form-select"
                                                    data-datepicker-options="dateOptions"
                                                    ng-blur="checkMax('hourFrom')"
                                                    max-date="maxDate"
                                                    data-close-text="Close" data-ng-click="toggleDatePicker($event,'hourFrom')"/>
                                                    
                                                </div>
                                                <div class="col-md-6">                    
                                                    
                                                    <input type="text" name="hourUntil" id="hourUntil"
                                                    placeholder="{{ 'generics.to' | i18next }}" data-datepicker-popup="dd/MM/yyyy"
                                                    data-ng-model="search.hourUntil"
                                                    data-is-open="datepickers.hourUntil" class="form-control form-select"
                                                    data-datepicker-options="dateOptions"
                                                    ng-blur="checkMaxMin('hourUntil','hourFrom')"
                                                    max-date="maxDate"
                                                    min-date="minDateCoin"
                                                    data-close-text="Close" data-ng-click="toggleDatePicker($event,'hourUntil')"/>
                                                </div>
                                            </div> 
                                        </div>
                                    </div>
                                <div class="col-md-4 desk-align-right">
                                    <!-- <div class="btn btn-link-action" ng-click="clearSearch()" ng-disabled="isProcessing">
                                        <span title="Limpiar filtros" class="glyphicon glyphicon-trash" aria-hidden="true">Cancelar</span>
                                    </div> -->
                                    <span id="processingSpan" class="icon-refresh" ng-class="{'spinner': isProcessing}" data-ng-show="isProcessing"></span>
                                    <a  title="Limpiar filtros" ng-click="clearSearch()" ng-disabled="isProcessing"  class="cancel-link" >{{ 'generics.clean' | i18next }}</a>
                                   
                                    <button id="search-button" type="submit" class="btn btn-round btn-success selected" data-ng-disabled="isProcessing">{{ 'buttons.search' | i18next }}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row" ng-if="isCollapsing" style="margin-top: 15px">
                        <div class="form-group item-input col-md-12">
                            
                            <h6 class="m-r-10">Id Caso</h6>
                            <p class="input-group" style="margin-bottom: 0px;">
                                <input type="number" name="idCourtCase" id="idCourtCase"
                                data-ng-model="search.courtCaseId"
                                class="form-control form-select"
                                />
                            </p>
                        </div>
                    </div>
                </div>
                
            </div>
            
            
            
            <div class="row padding-0">
                <!-- estado -->
                <div class="filtro_container">
                        <div class="row padding-left-30  padding-right-30 ">
                                <div class="col-md-12">
                                        <div class="row padding-0 tabs-estados" >
                                            <div class="col-md-5 padding-left-0">
                                                <div class="row">
                                                    <div class="col-md-6  text-center tabs-estados-tab tab-estados-tab__todos "> <a class="" ng-click="filtros(status[0])" data-ng-model="filtro" uib-btn-radio="'Todos'" id="all" value="todos">{{ 'generics.all' | i18next }}</a></div>
                                                    <div class="col-md-6  text-center tabs-estados-tab tab-estados-tab__pendientes"><a class="" ng-click="filtros(status[1])" data-ng-model="filtro" uib-btn-radio="'Pendientes'" id="pending" value="pending">{{ 'generics.pendingPlural' | i18next }}</a></div>
                                                </div>
                                            </div>
                                            
                                            <div class="col-md-2 padding-0">
                                                <div class="row padding-left-0  padding-right-0">
                                                    <div class="col-md-12  text-center tabs-estados-tab tab-estados-tab__confirmados"><a class="" ng-click="filtros(status[2])"  data-ng-model="filtro" uib-btn-radio="'Confirmados'" id="hit" value="hit">{{ 'generics.confirmedPlural' | i18next }}</a></div>
                                                </div>
                                            </div>

                                            <div class="col-md-5  padding-right-0">
                                                <div class="row">
                                                    <div class="col-md-6  text-center tabs-estados-tab tab-estados-tab__descartados"><a ng-click="filtros(status[3])" data-ng-model="filtro" uib-btn-radio="'Descartados'" id="discarded" value="discarded"> {{ 'generics.discardedPlural' | i18next }}</a></div>
                                                    <div class="col-md-6  text-center tabs-estados-tab tab-estados-tab__conflictos"><a  ng-click="filtros(status[4])" data-ng-model="filtro" uib-btn-radio="'Conflictos'" id="conflict" value="conflict"> {{ 'generics.conflicts' | i18next }} </a></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                        </div>
                    <div class="row">
                        
                        <div class="col-md-12 text-right">
                            <div class="m-t-10 row">
                                <div class="form-group col-md-12 vertical-align">
                                    <div class="row padding-0  m-t-0 vertical-align">
                                        <div class="col-md-offset-6 col-md-3 padding-0"><label for="sort">{{ 'buttons.orderBy' | i18next }}:</label>
                                            
                                        </div>
                                        <div class="col-md-3 item-input padding-right-0">
                                            <select id="sort" class="form-control form-select" data-ng-model="sortId" data-ng-change="sort()"
                                            ng-options="sortOptions.indexOf(option) as option.label for option in sortOptions"></select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            
        </form>
    </div>
    
    
   
    <div data-ng-show="noResult && !isProcessing" class="row coincidencia-estado">

            {{ 'generics.noResult' | i18next }}
             
    </div>
    <div class="row coincidencia-estado"  data-ng-show="!noResult" ng:repeat="m in matches" name="{{'match_' + m.matchCard.globalCode}}" id="{{'foco'+m.matchCard.globalCode}}">

        <div class="coincidencia-estado--card estado-pendiente" >

            <div class="row">

                <div class="col-md-3">
                    <a id="{{'foco_'+m.matchCard.globalCode}}" name="{{'foco_' + m.matchCard.globalCode}}" />
                    <h5>{{m.matchCard.internalSampleCode }}</h5>
                    <!-- <p>Muestra de referencia indubitativa</p> -->
                    <h6 class="dato">Laboratorio: <span class="dato laboratorio big-size">{{m.matchCard.laboratoryCode}}</span></h6>
                    <h6 class="dato">Usuario responsable: <span class="dato laboratorio big-size">{{m.matchCard.assignee}}</span></h6>
                   
                </div>
                    
                <div class="col-md-9 padding-top-5 padding-bottom-5">
                    <div class="row padding-0 coincidencia-estado-detalle ">
                        
                        <div class="col-md-3 padding-top-7 padding-bottom-7 padding-right-0">
                            <h6 class="dato categoria">{{ 'generics.category' | i18next }}: <span class="dato ultimacoincidencia">{{m.matchCard.categoryId}}</span></h6>
                            <h6 class="dato ">{{ 'matches.dateLast' | i18next }}: <span class="dato">{{m.matchCard.lastMatchDate | date:'yyyy-MM-dd'}}</span></h6>
                        </div>
                        <div class="col-md-9  padding-0 coincidencia-estado-detalle ">
                                <div class="col-md-2 padding-top-7 padding-bottom-7">
                                    <h6>{{ 'generics.contributors' | i18next }}</h6>
                                    <p class="dato numerico">{{m.matchCard.contributors}}</p>
                                </div>
                                <div class="col-md-2 padding-right-0 padding-left-0 padding-top-7 padding-bottom-7">
                                        <h6>{{ 'generics.pendingPlural' | i18next }}</h6>
                                        <p class="dato laboratorio big-size" ng-if="m.matchCard.pending !== 0">{{m.matchCard.pending}}</p>
                                        <p class="dato laboratorio big-size" ng-if="m.matchCard.pending == 0">&mdash;</p>
                                    </div>
                                <div class="col-md-2 padding-right-0 padding-left-0 padding-top-7 padding-bottom-7">
                                        <h6>{{ 'generics.confirmedPlural' | i18next }}</h6>
                                        <p class="dato laboratorio big-size" ng-if="m.matchCard.hit !== 0 ">{{m.matchCard.hit}}</p>
                                        <p class="dato laboratorio big-size" ng-if="m.matchCard.hit == 0">&mdash;</p>
                                    </div>
                                <div class="col-md-2 padding-right-0 padding-left-0 padding-top-7 padding-bottom-7">
                                    <h6>{{ 'generics.discardedPlural' | i18next }}</h6>
                                    <p class="dato laboratorio big-size" ng-if="m.matchCard.discarded !== 0">{{m.matchCard.discarded}}</p>
                                    <p class="dato laboratorio big-size" ng-if="m.matchCard.discarded == 0">&mdash;</p>
                                </div>
                                <div class="col-md-2 padding-top-7 padding-bottom-7">
                                    <h6>{{ 'generics.conflicts' | i18next }}</h6>
                                    <p class="dato laboratorio big-size" ng-if="m.matchCard.conflict !== 0">{{m.matchCard.conflict}}</p>
                                    <p class="dato laboratorio big-size" ng-if="m.matchCard.conflict == 0">&mdash;</p>
                                    <!-- <span class="badge match-tag status-conflict" ng-if="m.matchCard.conflict !== 0"><b>{{m.matchCard.conflict}}</b></span> -->
                                </div>
                                <div class="col-md-2 padding-0 expander-btn">
                                    <a class="btn" role="button" data-toggle="collapse" data-target="#{{m.matchCard.globalCode}}" aria-expanded="false" aria-controls="{{m.matchCard.globalCode }}">
                                        <span class="icon-arrow-down"></span>
                                    </a>
                                </div>
                        </div>
                    </div>
                </div>
            </div>  
            
        </div> 
        <div class="collapse" id="{{m.matchCard.globalCode}}">
            <div class="well">                
                <div class="desplegable row padding-bottom-10 padding-top-10">
         
                        
                        <div class="col-md-7 padding-left-0">
                            <div class="row padding-0 ">
                                
                                <div class="col-md-4 padding-right-0">
                                    <div class="row padding-right-0">
                                        <div class="col-md-6 padding-0">
                                            <h6>{{ 'generics.labCode' | i18next }}</h6>
                                            <p>{{m.matchCardMejorLr.internalSampleCode }}</p>
                                        </div>
                                        <div class="col-md-6">
                                            <h6>{{ 'generics.category' | i18next }}</h6>
                                            <p>{{m.matchCardMejorLr.categoryId }}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="row">
                                         <div class="col-md-6">
                                            <h6>{{ 'matches.sharedLocus' | i18next }}</h6>
                                            <p ng-if="!analysisTypes[d.type].mitochondrial">{{m.matchCardMejorLr.totalAlleles}} / {{m.matchCardMejorLr.totalMarkers}}

                                            </p>
                                            <p ng-if="analysisTypes[d.type].mitochondrial">-</p>
                                        
                                        </div>
                                        <div class="col-md-6 padding-right-0">
                                            <h6>{{ 'matches.sharedAlleles' | i18next }}</h6>
                                            <p>{{m.matchCardMejorLr.sharedAllelePonderation | percentage:2}}</p>
                                        </div>                                    
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <h6>LR</h6>
                                    <p ng-if="m.matchCardMejorLr.lr != 0">{{m.matchCardMejorLr.lr | likelihoodratio:true:true}}</p>
                                    <p ng-if="m.matchCardMejorLr.lr == 0">-</p>

                                </div>
                                
                            </div>
                        </div>
                        
                        <div class="col-md-5 padding-0">
                            <div class="row padding-0">
                                
                                <div class="col-md-3">
                                    <h6>{{ 'matches.noMatch' | i18next }}</h6>
                                    <p>{{m.matchCardMejorLr.mismatches}}</p>
                                    
                                </div>
                                <div class="col-md-6">
                                    <div class="row padding-left-0">
                                        <div class="col-md-6">
                                            <h6>{{ 'matches.statusGrouper' | i18next }}</h6>
                                            <p>{{ matchStatus[m.matchCardMejorLr.ownerStatus] }}</p>
                                        </div>
                                        <div class="col-md-6 padding-0">
                                            <h6>{{ 'matches.statusMatches' | i18next }}</h6>
                                            <p>{{ matchStatus[m.matchCardMejorLr.otherStatus] }}</p>
                                        </div>
                                        
                                    </div>
                                </div>
                                <div class="col-md-2 padding-0">
                                    <div class="row">
                                        <div class="col-md-12 padding-0">
                                            <a  id="goto-button" href="{{getGroups(m.matchCard)}}" ng-click="filtroLocal(m.matchCard.globalCode)" class="btn btn-round btn-small">{{ 'buttons.viewAll' | i18next }}</a>
                                            
                                        </div>
                                    </div>
                                    <div class="row padding-0">
                                        <div class="col-md-12 padding-right-0 padding-left-0 text-center">
                                            <a  class="cancel-link descartar" pdg-confirm pdg-confirm-title="{{ 'buttons.discardMatch' | i18next }}"
                                                pdg-confirm-content="{{ 'alerts.match.discardSure' | i18next }}"
                                                pdg-on-confirm="descarteMasivo" param="{{m.matchCard}}" >{{ 'buttons.discardAll' | i18next }}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                   
                </div>
            </div>
        </div>
    </div>
   
    
</div>
<footer class="matches-groups-footer-footer">
    <div>
        <pagination boundary-links="true" ng-change="changePage()" items-per-page="{{pageSize}}" max-size="10" total-items="totalItems" ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"  rotate="false"></pagination>
    </div>
</footer>
