


<div class="row padding-0 breadcrumb_column">
	<div class="col-md-12 padding-0">
		<div class="row padding-0">
			<div class="breadcrumb_content">
				<ol class="breadcrumb">
						<li><div class="btn volver" onclick="history.back()">
								<span  class="icon-atras" title="Volver"></span>
										
								</span>
								
							</div>
						</li>
					<li class="active">{{ 'generics.users' | i18next}}</li>
                        </ol>
                    </div>
                </div>
            </div>
		</div>
		



<div class="container-top">
	<div class=" content"> <!-- content-wrap-small -->
		<table class="table  table-bordered">
			<thead>
				<tr>
					<th>{{ 'generics.userName' | i18next}}</th>
					<th>{{ 'generics.name' | i18next}}</th>
					<th>{{ 'generics.lastName' | i18next}}</th>
					<th>{{ 'generics.email' | i18next}}</th>
					<th>{{ 'generics.state' | i18next}}</th>
					<th>{{ 'generics.edition2' | i18next}}</th>
				</tr>
			</thead>
			<tbody>
				<tr data-ng-repeat="user in users">
					<td>{{user.userName}}</td>
					<td>{{user.firstName}}</td>
					<td>{{user.lastName}}</td>
					<td>{{user.email}}</td>
					<td>
						<select 
							class="form-control form-select"
							data-ng-model="user.status" 
							data-ng-options="status as ('userStatus.' + status | i18next) for status in statusList"
							data-ng-change="updateUserStatus(user.userName,user.status)">
						</select>
					</td>
					<td>
						<button class="btn btn-default btn-link-action btn-link-border" title="{{ 'generics.modifyUserData' | i18next}}" data-ng-click="updateUser(user)">
							<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
						</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
