<form name="addForm" novalidate>

  <input id="x" type="file" data-ng-file-select="onAnalysisFileSelect($files)" multiple accept="text/xml" style="visibility: hidden;">

    <div ng-if="!subcategory.isReference && profile.contributors" class="text-right m-r-10">
        <span>{{ 'generics.contributorsAmount' | i18next }} </span>
        <select id="contributorQty" data-ng-model="profile.contributors" class="form-control" style="padding: 0px; max-width: 50px; display: inline; margin: 0px;"
            data-ng-options="c for c in contributors" disabled="disabled">
        </select>
    </div>

    <table id="analysis-table" class="table table-striped">
        <thead>
            <tr>
                <th>
                    <div class="col-md-3">
                      <ui-select id="kits" ng-model="profile.kitId" ng-change="findLoci(profile.kitId.id)"
                                 ng-disabled="status.current == 'dblCheck'"
                                 class="form-select">
                        <ui-select-match id="select-kit" placeholder="{{ 'generics.selectKit' | i18next }}">[{{getAnalysisName($select.selected)}}] {{$select.selected.name}}</ui-select-match>
                        <ui-select-choices group-by="getAnalysisName" repeat="kit in getKits() | filter: $select.search | orderBy:'type'">
                          <div data-ng-bind-html="trustAsHtml((kit.name | highlight: $select.search))"></div>
                        </ui-select-choices>
                      </ui-select>
                    </div>
                    <div class="col-md-4 text-center" ng-hide="profile.kitId.type==4">{{ 'generics.alleles' | i18next }}</div>
                    <div class="col-md-4 text-center" ng-show="status.current == 'dblCheck' && !enableLabelsStatus">{{ 'profileViews.verification' | i18next }}</div>
                    <div class="col-md-4 text-center" ng-show="status.current == 'dblCheck' && !enableLabelsStatus">#</div>
                    <div class="col-md-4 text-center pull-right" ng-hide="profile.kitId.type==4">{{ 'generics.range' | i18next }}</div>

                </th>
            </tr>
        </thead>
        <tbody name="locitbody">

            <tr ng-repeat="locus in loci"
                ng-class="{success: status.current == 'dblCheck' && $index == chkAnalysis.index, active: status.current == 'dblCheck' && $index > chkAnalysis.index}"
                class="{{'fl-' + locus.fluorophore.toLowerCase()}}">
            <td>
                <div pdg-locus
                name="{{locus.id}}" info="locus" index="$index" status="status.current"
                new-analysis="newAnalysis"
                chk-analysis="chkAnalysis"
                error-msg="locus.errorMsg"
                validate-locus="validateLocus" loci="loci" selected-alleles="selectedAlleles"
                labels="labels" enable-labels-status="enableLabelsStatus" profile="profile"></div>
            </td>
                <td style="width:10%">
                    <button class="btn pull-right" ng-click="removeLocus($index)"
                            ng-disabled="status.current == 'dblCheck'"
                            help-tip="kits.locus.remove" help-tip-placement="left" tabIndex="-1">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                </td>
            </tr>

        </tbody>

    </table>
</form>
<div class="col-lg-12" ng-hide="profile.kitId.type!=4">
    <div class="col-lg-4" >
        <label>{{ 'profileViews.region.add' | i18next }}</label>
        <select data-ng-model="newLocus" ng-disabled="(addedLocus.length > 0 && status.current == 'dblCheck') || !subcategory.manualLoading"
                data-ng-options="item.id as item.name for item in getPossibleLocus() | filter: {analysisType: 4} | filter: locusAlreadyAdded | orderBy:'name'"
                class="form-control form-select col-lg-3" data-ng-change="addLocus(newLocus); newLocus=undefined;">
            <option value="" selected="selected">{{ 'profileViews.region.name' | i18next }}</option>
        </select>
    </div>
</div>
<div class="col-lg-12" ng-hide="profile.kitId.type!=4" style="margin-bottom: 15px">

</div>
<div class="m-l-10 m-r-10 m-b-10" ng-hide="loci.length===0" >

    <h4>{{ 'generics.electropherogram' | i18next }}</h4>
    <div class="form-group">
        <carousel interval="3000">
          <slide ng-repeat="slide in inprints">
            <img ng-src="{{slide}}" style="margin:auto; height: 200px;">
          </slide>
        </carousel>
    </div>
    <div class="row">
        <div class="col-md-3 text-center">
            <span class="btn btn-link-action btn-link-border btn-block btn-file">
                <span class="glyphicon glyphicon-upload"></span>
                {{ 'buttons.upload.electropherogram' | i18next }}
                <input id="addEpg" type="file" data-ngf-select ngf-change="onFileSelect($files)" multiple accept="image/*">
            </span>
        </div>
    </div>
</div>
<div class="m-l-10 m-r-10 m-b-10" ng-hide="loci.length===0" >

    <div class="form-group" style="font-size: 1.1em;">
        {{newAnalysis.nameRawFile}}
    </div>
    <div class="|row">
        <div class="col-md-3 text-center">
            <span class="btn btn-link-action btn-link-border btn-block btn-file">
                <span class="glyphicon glyphicon-upload"></span>
                 {{ 'buttons.upload.file' | i18next }}
                <input id="{{'addFile'+analysis.id}}"
                       type="file" data-ngf-select ngf-change="onAddFileToExistingAnalysis($files, analysis.id)"
                       ng-model="new_files"
                       ng-disabled="currentAnalisysId && currentAnalisysId != analysis.id">
            </span>
        </div>
    </div>
</div>
<footer class="profile-footer">

    <div class="desk-align-right inside-right">

        <div class="btn btn-link-action" ng-click="doCancel()" id="cancel" type="button" ng-show="profile.kitId.type==4" ng-disabled="status.current == 'dblCheck'">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            <span> {{ 'buttons.cancel' | i18next }}</span>
        </div>

        <button id="verify" type="button" ng-disabled="addForm.$invalid || isEmpty(newAnalysis)"
                ng-show="status.current == 'fill'"
                class="btn btn-primary-action" ng-click="verifyNewAnalysis(newAnalysis, chkAnalysis, loci, status)">
            {{ 'buttons.verifyLoad' | i18next }}
        </button>

        <button id="createAnalysis" type="button" ng-disabled="addForm.$invalid || chkAnalysis.index < loci.length"
                ng-show="status.current == 'dblCheck'"
                class="btn btn-primary-action" ng-click="save(newAnalysis)">
            {{ 'buttons.save' | i18next }}
        </button>

    </div>

</footer>
