<div class="row padding-0 breadcrumb_column">
    <div class="col-md-12 padding-0">
        <div class="row padding-0">
            <div class="breadcrumb_content">
                <ol class="breadcrumb">
                    <li>
                        <div class="btn volver" onclick="history.back()">
                            <span  class="icon-atras" title="Volver"></span>
                        </div>
                    </li>
                    <li class="active">{{ 'profileViews.comparison.title' | i18next }}</li>

                </ol>
            </div>
        </div>
    </div>
</div>
<div class="content">
<div class="options-header scenarios-section" style="padding-top: 0px; margin-top: 37px;">

    <div class="panel-body">

        <div class="col-md-3 vertical-align">
            <h6 class="col-md-3 control-label">{{ 'generics.profiles' | i18next }}:</h6>
            <div class="col-md-12 input-group" style="padding-bottom: 10px;">
                <input type="text" class="form-control form-select" aria-describedby="basic-addon2"
                       id="search" name="search" ng-model="search"
                       placeholder="Código GENis o Laboratorio"
                       ng-keyup="$event.keyCode == 13 ? searchProfile() : null"
                       help-tip="scenario.comparison.profiles" help-tip-placement="bottom">

                <span class="input-group-addon" id="basic-addon2" ng-click="searchProfile()">
  		<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
  	  </span>
            </div>
        </div>

        <div class="col-md-8 pull-right">
            <div class="chip m-r-10" ng-repeat="p in selectedOptions">
                {{p.internalCode}}
                <span class="closebtn" ng-click="hide(p)"
                      help-tip="scenario.comparison.chips" help-tip-placement="bottom">&times;</span>
            </div>
        </div>
        <div class="col-md-12">
            <span class="pull-left"> {{ 'profileViews.comparison.warn' | i18next }}</span>
        </div>
    </div>
</div>


<div class="row text-right scenario-separator">
    <div class="col-md-pull-12 pull-right" style="margin-top: 5px;">
        <a role="button" class="btn btn-default m-r-5 list-group-menu-item" help-tip="pedigree.comparison.differences" help-tip-placement="left"
           ng-class="{'list-group-menu-item-selected': showDifferences}" ng-click="displayDifferences()">{{ 'buttons.show.differences' | i18next }}</a>
        <a role="button" class="btn btn-default m-r-5 list-group-menu-item" help-tip="pedigree.comparison.matches" help-tip-placement="top"
           ng-class="{'list-group-menu-item-selected': showMatches}" ng-click="displayMatches()">{{ 'buttons.show.matches' | i18next }}</a>
    </div>

    <div class="scenarios-section" ng-if="comparison" style="padding-bottom: 25px;padding-top: 50px;">
        <table>
            <thead>
            <tr>
                <td id="td-comp-gen-1" class="column col-md-1"></td>
                <td ng:repeat="p in selectedOptions" id="td-comp-gen-2" class="text-center column " ng-class="{'col-md-5':selectedOptions.length === 1  }">
                    <div class="comparison-profileID">
                        <span style="display:block">{{p.internalCode}}</span>
                        <span>{{'(' + p.globalCode + ')'}}</span>
                    </div>
                </td>
                <td></td>
            </tr>
            </thead>
            <tbody>
            <tr ng:repeat="item in comparison" >
                <td class="text-left">{{item.locus}}</td>
                <td class="text-center" ng:repeat="p in selectedOptions" >
                    <span ng:repeat="allele in item.g[p.globalCode] track by $index" class="text-center comparision-allele"
                          ng-class="{'allele-matched-lrmix': showMatches && hasMatches(item.g, allele),
                                     'allele-mismatch': showDifferences && !hasMatches(item.g, allele) }">
                            {{allele}}<span ng-if="shouldShowMinAlelle(allele,allelesRanges[item.locus])">/<{{allelesRanges[item.locus].min}}</span><span ng-if="shouldShowMaxAlelle(allele,allelesRanges[item.locus])">/>{{allelesRanges[item.locus].max}}</span>
                    </span>
                </td>
                <td></td>
            </tr>
            </tbody>
        </table>

    </div>
    <footer>
        <div class="desk-align-right inside-right">
        </div>
    </footer>
</div>
</div>