<!DOCTYPE html>
<div class="modal-header">
	<h4>{{ 'profileViews.stringency.title' | i18next }} <b>{{data.profile.globalCode}}</b></h4>
	<h5>{{data.subcategory.name}}</h5>
</div>
<div class="modal-body">

	<table class="table  table-striped">
		<thead>
			<tr>
				<th class="text-center">{{ 'profileViews.stringency.subcategory' | i18next }}</th>
				<th class="text-center" width="30%">{{ 'profileViews.stringency.level' | i18next }}</th>
				<th class="text-center" width="20%">{{ 'profileViews.stringency.mismatchedLocus' | i18next }}</th>
			</tr>
		</thead>
		<tbody>
			<tr data-ng-repeat="w in subcatsRel">
				<td class="text-center">{{subcats[w.categoryRelated].name}}</td>
				<td class="text-center">
					<select class="form-control" ng-model="w.minimumStringency"
					 id="stringency_{{$index}}"	ng-options="key as s.text for (key, s) in stringency">
					</select>
				</td>
				<td class="text-center">
					<select class="form-control" ng-model="mismatches[$index]"
						id="mismatches_{{$index}}" ng-options="mo as mo for mo in mismatchesOptions">
					</select>
				</td>
			</tr>
		</tbody>
	</table>

</div>

<div class="modal-footer">
   <button id="aceptStringency" class="btn btn-success" data-ng-click="closeModal(true)">{{ 'buttons.accept' | i18next }}</button>
   <button id="cancelStringency" class="btn btn-danger" data-ng-click="closeModal(false)">{{ 'buttons.cancel' | i18next }}</button>
</div>