<fieldset ng-controller="listKitController">

    <div class="row m-b-10 m-t-10" style="margin-left:5px;">
        <a role="button" class="btn btn-default m-r-5 list-group-menu-item"
           ng-class="{'list-group-menu-item-selected': activeOption === -1}" ng-click="show(-1)">{{ 'generics.all' | i18next }}</a>
        <a ng-repeat="option in options" ng-if="!analysisTypes[option].mitochondrial"
           role="button" class="btn btn-default m-r-5 list-group-menu-item"
           ng-class="{'list-group-menu-item-selected': activeOption === $index}" ng-click="show($index)">{{'analysisTypes.' + analysisTypes[option].name | i18next}}</a>
        <span id="processingSpan" class="icon-refresh" ng-class="{'spinner': isProcessing}" data-ng-show="isProcessing"></span>
    </div>

    <div data-ng-show="noResult && !isProcessing">{{ 'generics.noResult' | i18next }}</div>

    <div data-ng-show="!noResult"  name="locus_result">
        <table class="table table-bordered">
            <thead>
            <th>
                <pdg-sortable name="ID" predicate="predicate" reverse="reverse" sort-field="id"
                              sort-action="predicate='id';reverse=!reverse"
                              ng-init="predicate='id'; reverse= false;"></pdg-sortable>
            </th>
            <th>{{ 'generics.name' | i18next }}</th>
            <th>{{ 'generics.type' | i18next }}</th>
            <th><div help-tip="kits.lociQuantity" help-tip-placement="top">{{ 'kit.listKit.locusQuantity' | i18next }}</div></th>
            <th><div help-tip="kits.representativeParameter" help-tip-placement="bottom">{{ 'kit.representativeParameter' | i18next }}</div></th>
            <th><div help-tip="kits.alias.list" help-tip-placement="top">{{ 'generics.alias' | i18next }}</div></th>
            <th>{{ 'generics.locusPlural' | i18next }}</th>
            <th>{{ 'generics.modify' | i18next }}</th>
            <th>{{ 'generics.delete' | i18next }}</th>
            </thead>
            <tbody>
            <tr data-ng-repeat="k in kitSearch | orderBy:predicate:reverse" ng-if="!analysisTypes[k.type].mitochondrial">
                <td>{{k.id}}</td>
                <td>{{k.name}}</td>
                <td>{{'analysisTypes.' + analysisTypes[k.type].name | i18next}}</td>
                <td>{{k.locy_quantity}}</td>
                <td>{{k.representative_parameter}}</td>
                <td>
                    <div class="locus-tooltip">
                        <a href="" class="info-item" ng-class="{'info-item-selected': k.showAlias}"
                           ng-if="k.alias.length !== 0" ng-click="k.showAlias = !k.showAlias"
                           tooltip-placement="left" tooltip-html-unsafe="{{k.alias.join(', ')}}" tooltip-trigger="click">
                            <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                        </a>
                    </div>
                </td>
                <td title="{{ 'kit.seeLoci' | i18next }}">
                    <button pdg-locus-popover locus="k.locus" class="btn btn-default btn-link-action btn-link-border">
                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                    </button>
                </td>
                <td class="col-md-1 centered">
                    <a class="btn btn-default btn-link-action btn-link-border" data-ng-click="doUpdate(k.id)">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    </a>
                </td>
                <td>
                    <button class="btn btn-default btn-link-action btn-link-border" ng-click="remove(k.id)">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</fieldset>