<div class="col-md-12 laboratories-section-big">
    <div class="laboratories-section">
        <h5>Datos del Kit</h5>

        <div class="m-t-10">
            <label for="id-kit">Id<span class="field-obligated">*</span></label>
            <input id="id-kit" name="id" ng-readonly="true" class="form-control form-select" type="text" data-ng-model="selectedKit.id" required/>
            <form-validation input="kitForm.id-kit"></form-validation>
        </div>

        <div class="m-t-10">
            <div class="col-md-7 padding-0 m-t-5">
                <label for="loci-minimum" help-tip="kits.representativeParameter" help-tip-placement="top">
                    Parámetro representativo<span class="field-obligated">*</span>
                </label>
            </div>
            <div class="col-md-5 padding-0">
                <input name="lociMinimum" id="loci-minimum" type="number" min="0" step="1" required class="form-control form-select padding-left-0" data-ng-model="selectedKit.representative_parameter" />
                <form-validation input="kitForm.loci-minimum" min="0"></form-validation>
            </div>
        </div>

    </div>
</div>