<div style="padding-top: 5px;">
    <div class="error-text" ng-if="input.$dirty && input.$error.required">El campo es requerido</div>
    <div class="error-text" ng-if="input.$dirty && input.$error.pattern && pattern !== 'password'">El campo debe respetar el patrón {{pattern}}</div>
    <div class="error-text" ng-if="input.$dirty && input.$error.pattern && pattern === 'password'">Las contraseñas no coinciden</div>
    <div class="error-text" ng-if="input.$dirty && input.$error.min">El campo debe ser mayor a {{min}}</div>
    <div class="error-text" ng-if="input.$dirty && input.$error.max">El campo debe ser menor a {{max}}</div>
    <div class="error-text" ng-if="input.$dirty && input.$error.maxlength">Este campo permite hasta {{max}} caracteres</div>
</div>