<div class="row padding-0 breadcrumb_column">
    <div class="col-md-12 padding-0">
        <div class="row padding-0">
            <div class="breadcrumb_content">
                <ol class="breadcrumb">
                    <li>
                        <div class="btn volver" onclick="history.back()">
                            <span class="icon-atras" title="Volver"></span>
                        </div>
                    </li>
                    <li class="active">{{ 'menu.profileExporter' | i18next }}</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="container-top">
    <div class="bulkupload-search">
        <div class="row">
            <div class="content">
                <div class="new-load vertical-align profile-header-clerk">
                    <div class="form-group col-md-12 padding-0">
                        <form class="navbar-form  vertical-align padding-0" role="export" name="exportPdForm"
                              novalidate>
                            <div class="col-md-6 padding-left-0 padding-right-0 vertical-align">
                                <label class="col-md-2 padding-left-0" for="categorySelect">{{ 'generics.category' | i18next }}:</label>
                                <div class="col-md-10 padding-left-0">
                                    <select id="categorySelect" data-ng-model="search.categoryId"
                                            class="form-control form-select">
                                        <option value="{{undefined}}">{{ 'generics.allFem' | i18next }}</option>
                                        <optgroup data-ng-repeat="(grpId, group) in categories.data"
                                                  label="{{group.name}}">
                                            <option data-ng-repeat="category in group.subcategories"
                                                    value="{{category.id}}" ng-selected="category.id == x.idSuperior">
                                                {{category.name}}
                                            </option>
                                        </optgroup>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6 padding-left-0 padding-right-0 vertical-align">
                                <label class="col-md-2 padding-left-0" for="categorySelect">{{ 'generics.laboratory' | i18next }}:</label>
                                <div class="col-md-10 padding-left-0">
                                    <select id="laboratory" data-ng-model="search.laboratory"
                                            class="form-control form-select">
                                        <option value="{{undefined}}">{{ 'generics.all' | i18next }}</option>
                                        <option data-ng-repeat="lab in laboratories" value="{{lab.code}}">{{lab.name}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="new-load vertical-align profile-header-clerk">
                    <div class="form-group col-md-6 padding-0">
                        <form class="navbar-form  vertical-align padding-0" role="export" name="exportPdForm"
                              novalidate>
                            <div class="col-md-12 padding-left-0 padding-right-0 vertical-align">
                                <label class="col-md-3 padding-left-0" for="categorySelect">{{ 'generics.profile' | i18next }}:</label>
                                <div class="col-md-10 padding-left-0">
                                    <input name="internalSampleCode"
                                           class="form-control login-input login-user" id="internalSampleCode"
                                           type="text" placeholder="{{ 'generics.labCode' | i18next }}"
                                           data-ng-model="search.internalSampleCode"
                                           autocomplete="off"/>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="profile-header-clerk col-md-6 new-load form-group vertical-align">
                        <div class="col-md-1 padding-left-0">
                            <label class="m-r-10" for="hourFrom">{{ 'generics.date' | i18next }}</label>
                        </div>
                        <div class="col-md-10 padding-left-0 padding-right-30">
                            <div class="row padding-0  m-t-0 m-b-0 ">
                                <div class="col-md-6">
                                    <input type="text" name="hourFrom" id="hourFrom"
                                           placeholder="{{ 'generics.since' | i18next }}" data-datepicker-popup="dd/MM/yyyy"
                                           data-ng-model="search.hourFrom"
                                           data-is-open="datepickers.hourFrom" class="form-control form-select"
                                           data-datepicker-options="dateOptions"
                                           ng-blur="checkMax('hourFrom')"
                                           max-date="maxDate"
                                           data-close-text="Close" data-ng-click="toggleDatePicker($event,'hourFrom')"/>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" name="hourUntil" id="hourUntil"
                                           placeholder="{{ 'generics.to' | i18next }}" data-datepicker-popup="dd/MM/yyyy"
                                           data-ng-model="search.hourUntil"
                                           data-is-open="datepickers.hourUntil" class="form-control form-select"
                                           data-datepicker-options="dateOptions"
                                           ng-blur="checkMaxMin('hourUntil','hourFrom')"
                                           max-date="maxDate"
                                           min-date="minDateCoin"
                                           data-close-text="Close"
                                           data-ng-click="toggleDatePicker($event,'hourUntil')"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="content">
                <div class="m-t-10 padding-0">
                    <div class="row m-b-10">
                        <div show-permissions="PROFILE_EXPORTER" class="pull-right padding-right-0">
                            <button type="button" class="btn btn-primary-action pull-right"
                                    data-ng-click="exportProfiles()"><span>{{ 'buttons.export' | i18next }}</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



