
<div class="row padding-0 breadcrumb_column">
    <div class="col-md-12 padding-0">
        <div class="row padding-0">
            <div class="breadcrumb_content">
                <ol class="breadcrumb">
                        <li>
                            <div class="btn volver"onclick="history.back()">
                                <span  class="icon-atras" title="Volver"></span>
                            </div>
                        </li>
                        <li class="active">Configuración de interconexión de instancias</li>
                            
                        </ol>
                    </div>
                </div>
            </div>
        </div>
<div class="container-top" >
    <section class="extended-section">
        <div class="content-wrap-small">
            <ul >
                <li show-permissions="SUP_INS_CRUD"><a href="#/superior-instance">Instancia Superior</a></li>
                <li show-permissions="INF_INS_CRUD"><a href="#/inferior-instances">Instancias Inferiores</a></li>
                <li show-permissions="IMP_PERF_INS"><a href="#/profile-approval">Aprobación Perfiles</a></li>
            </ul>
        </div>
    </section>
</div>

