<div class="modal-edit-statics">
	<pdg-statistical-options class="noprint modal-statics-data" mix="mix"
    	header="true" panel="true" process="false" selected-options="selectedOptions" freq-tables="freqTables"></pdg-statistical-options>

    <div ng-if="!mix">
        <div class="row">
            <span class="bold" style="padding-left: 30px">{{ 'generics.sample' | i18next }}:</span>
            {{scenario.sample}}
        </div>
        <div class="row">
            <span class="bold" style="padding-left: 30px">{{ 'generics.hypothesis' | i18next }} 1:</span>
            {{printableProsecutor}}
        </div>

        <div class="row">
            <span class="bold" style="padding-left: 30px">{{ 'generics.hypothesis' | i18next }} 2:</span>
            {{printableDefense}}
        </div>
    </div>
</div>

<div class="modal-footer">
	<button class="btn btn-success" 
		data-ng-click="getRandomMatchProbabilitiesByLocus(selectedOptions.frequencyTable, selectedOptions.probabilityModel, selectedOptions.theta, selectedOptions.dropIn, selectedOptions.dropOut)">Calcular</button>
   	<button class="btn btn-success" data-ng-click="closeStatModal()">{{ 'buttons.close' | i18next }}</button>
</div>