.report-title {
    color:black;
    text-align: left;
    font-family:'Lato';
    font-weight: bold;
    font-size: 14pt;
}

.report-heading {
    color:darkgrey !important;
    text-align: center!important;
    font-family:'Lato' !important;
    font-weight: bold !important;
    font-size: 14pt !important;
}

.report-body {
    color: black;
    font-family: 'Lato';
    text-align: center;
    font-weight: normal;
    font-size: 12pt;
}