<div class="text-center ">
    <span class="glyphicon glyphicon-refresh" ng-class="{'fa-spin': normal.isProcessing}" data-ng-show="normal.isProcessing && normal.totalItems === '0'"></span>
</div>
<div class="panel panel-default" ng-show="normal.totalItems !== '0'">
    <!--<a data-toggle="collapse" href="#normal" style="text-decoration: none">-->
        <div class="panel-heading btn-icon-action" style="background-color: #f5f5f5; border-color:#dddddd;">
            <div class="row" style="margin-bottom: 20px">
                <span class="match-title col-md-7">{{profile.profileData | showcode}}</span>
                <span class="col-md-2"><a data-ng-disabled="confirmDisabled" class="btn btn-secondary-action" ng-click="!confirmDisabled && confirmSelectedCollapsing()">Confirmar</a></span>
                <span class="col-md-2"><a class="btn btn-secondary-action" ng-click="discardCollapsingGroup()">{{ 'buttons.discard' | i18next }}</a></span>
                <span class="badge match-tag col-md-1 pull-right"><b>{{normal.totalItems}} {{ 'pedigree.matches' | i18next }}</b></span>
            </div>
        </div>
        <!--</a>-->
        <div id="normal" class="panel-collapse">
            <div class="panel-body">
                <!--<div show-permissions="SCENARIO_CRUD" class="text-right" style="padding-bottom: 2em;" ng-if="!profile.isReference">-->
                    <!--<a id="goto-scenarios-button" class="btn btn-secondary-action" href="" ng-click="!normal.viewScenarios || getScenarios()" ng-disabled="!normal.viewScenarios">Ver escenarios</a>-->
                    <!--<a id="goto-scenario-button" class="btn btn-primary-action" href="" ng-click="addScenario()">Agregar escenario</a>-->
                    <!--</div>-->
                    <table class="table table-striped table-matches-details">
                        <thead>
                            <tr>
                                <th show-permissions="SCENARIO_CRUD" ng-if="!profile.isReference">
                                    <input type="checkbox" ng-init="selectAll=false" data-ng-model="selectAll" data-ng-change="changeSelection(selectAll);checkActivation();">
                                </th>
                                <th class="text-center">
                                    <pdg-sortable name="{{ 'generics.labCode' | i18next }}" predicate="normal.predicate" reverse="normal.reverse" sort-action="sortBy(normal, 'globalCode')" sort-field="globalCode"></pdg-sortable>
                                </th>
                                <!--<th class="text-center">
                                    <pdg-sortable name="Tipo de análisis" predicate="normal.predicate" reverse="normal.reverse" sort-action="sortBy(normal, 'type')" sort-field="type"></pdg-sortable>
                                </th>
                                <th class="text-center">Categoría
                                </th>-->
                                <th class="text-center">
                                    <pdg-sortable name="{{ 'pedigree.sharedLocus' | i18next }}" predicate="normal.predicate" reverse="normal.reverse"
                                    sort-action="sortBy(normal, 'totalAlleles')" sort-field="totalAlleles" numeric="true"></pdg-sortable>
                                </th>
                                <th class="text-center">
                                    <pdg-sortable name="{{ 'pedigree.sharedAllelesPercentaje' | i18next }}" predicate="normal.predicate" reverse="normal.reverse"
                                    sort-action="sortBy(normal, 'sharedAllelePonderation')" sort-field="sharedAllelePonderation" numeric="true"></pdg-sortable>
                                </th>
                                <th class="text-center">
                                    <pdg-sortable name="{{ 'generics.lr' | i18next }}" predicate="normal.predicate" reverse="normal.reverse"
                                                  sort-action="sortBy(normal, 'lr')" sort-field="lr" numeric="true"></pdg-sortable>

                                </th>

                                <th style="width: 5%">{{ 'generics.compare' | i18next }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng:repeat="d in normal.matches" name="{{'det_' + d.globalCode}}">
                                <td show-permissions="SCENARIO_CRUD" ng-if="!profile.isReference">
                                    <input type="checkbox" ng-init="d.selected = false" data-ng-model="d.selected"
                                    ng-change="checkActivation()">
                                </td>
                                <td class="text-center">
                                    {{d | showcode}}
                                </td>
                                <td class="text-center">
                                    <span ng-if="!analysisTypes[d.type].mitochondrial">{{d.totalAlleles}} / {{d.totalMarkers}}</span>
                                    <span ng-if="analysisTypes[d.type].mitochondrial">-</span>
                                </td>
                                
                                <td class="text-center">
                                    <span> {{d.sharedAllelePonderation | percentage:2}} </span>
                                </td>
                                
                                <td class="text-center">
                                    <span> {{d.lr | likelihoodratio: true: true }} </span>
                                </td>
                                

                                <td title="{{ 'generics.viewAlleles' | i18next }}">
                                    <a id="go_referencia_{{$index}}" href="{{getHref(profile, d)}}">
                                        <span class="glyphicon glyphicon-share-alt btn-icon-action"></span>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="1000000" class="table-in-pagination">
                                    <pagination style="position: initial; transform: translate(0, 0);" boundary-links="true" ng-change="getMatches(normal)" items-per-page="{{pageSize}}" max-size="10" total-items="normal.totalItems" ng-model="normal.currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"  rotate="false"></pagination>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>