<!DOCTYPE html>
<div class="modal-header">
    <h4 class="active">{{ 'alerts.pedigree.confirmCopy' | i18next }}</h4>
</div>
<div class="modal-body">
    <span>
        {{ 'alerts.pedigree.copyAlert' | i18next }}<br/>
    {{ 'alerts.pedigree.copyAlert1' | i18next }}<br/><br/>
    {{ 'alerts.pedigree.copyAlert2' | i18next }}</span>
</div>
<div class="modal-footer">
    <div class="btn btn-link-action" ng-click="$dismiss()">
            <span title="{{ 'buttons.close' | i18next }}">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </span>
        <span class="btn-link-action">{{ 'buttons.cancel' | i18next }}</span>
    </div>
    <button class="btn btn-primary-action" ng-click="$close()">{{ 'buttons.accept' | i18next }}</button>
</div>

