<!DOCTYPE html>
<div class="modal-header">
    <h4><b>{{ 'pedigree.courtCase.close.warning' | i18next }}</b></h4>
</div>
<div class="modal-body">
    <div>{{ 'pedigree.courtCase.close.associatedPedigree' | i18next }}</div>
    <div>
        <input id="shouldDeleteAssociatedProfiles" type="checkbox" data-ng-model="shouldDeleteAssociatedProfiles"  />
        {{ 'pedigree.courtCase.close.deleteAssociatedProfiles' | i18next }}
    </div>
</div>

<div class="modal-footer">
    <div id="cancel" type="button" class="btn btn-secondary-action" data-ng-click="close(false)">{{ 'buttons.no' | i18next }}</div>
    <button id="confirm" type="button" class="btn btn-primary-action" data-ng-click="close(true)">{{ 'buttons.yes' | i18next }}</button>
</div>