<!DOCTYPE html>
<div class="modal-header">
    <h4><b>Advertencia</b></h4>
</div>
<div class="modal-body">
    <div>Los pedigrís asociados al caso se cerrarán automáticamente.</div>
    <div>
        <input id="shouldDeleteAssociatedProfiles" type="checkbox" data-ng-model="shouldDeleteAssociatedProfiles"  />
        Dar de baja los perfiles asociados al caso
    </div>
</div>

<div class="modal-footer">
    <div id="cancel" type="button" class="btn btn-secondary-action" data-ng-click="close(false)">No</div>
    <button id="confirm" type="button" class="btn btn-primary-action" data-ng-click="close(true)">Si</button>
</div>