<!DOCTYPE html>

<div class="modal-header" id="grouped-modal">
	<h4>Perfiles Agrupados
	<span id="processingSpan" class="glyphicon glyphicon-refresh" ng-class="{'spinner': isProcessing}" ng-show="isProcessing"></span>
	</h4>
</div>
<div class="modal-body">
	<div class="input-group" style="padding-bottom: 10px;">
	  	<input type="text" class="form-control form-select" aria-describedby="basic-addon2"
	  		id="profileGrouped" name="profileGrouped" ng-model="profileGrouped"
			placeholder="Buscar perfil"
			ng-keyup="$event.keyCode == 13 ? searchProfile() : null">

		<span class="input-group-addon" id="basic-addon2" ng-click="searchProfiles()">
  		<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
  	  </span>
	</div>

	<div>
		<button type="button" class="btn btn-secondary-action pull-right" ng-click="dissasociateGrouped()" data-ng-disabled="activePedigrees">
			Desagrupar todos</button>
	</div>

		<table class="table  table-striped" data-ng-show="profiles" style="font-size:x-small;">
	<thead>
		<tr>
			<th class="text-center col-md-2">Código GENis</th>
			<th class="text-center col-md-2">Código Laboratorio</th>
			<th class="text-center col-md-1">Desagrupar</th>
			<!--<th class="text-right col-md-1">
				<button class="btn btn-secondary-action" ng-click="dissasociateGrouped()">Desagrupar todos</button>
			</th>-->
		</tr>
	</thead>
	<tbody>
		<tr data-ng-repeat="pd in profiles">
			<td class="text-center">{{pd.globalCode}}</td>
			<td class="text-center">{{pd.internalCode}}</td>
			<td style="width:10%">
                <button id="{{'link'+$index}}"
                        ng-click="selectProfile(pd)"
                        type="button"
						data-ng-disabled="activePedigrees"
                        class="btn btn-default btn-link-action btn-link-border">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
			</td>
		</tr>
	</tbody>
	<tfoot>

	<tr>
		<td colspan="8" style="padding-top: 10px; ">
			<pagination style="position: initial; transform: translate(0, 0);" boundary-links="true" ng-change="changePage()" items-per-page="{{pageSize}}" max-size="10" total-items="totalItems" data-ng-model="pageNumber" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"  rotate="false"></pagination>
		</td>

	</tr>

	</tfoot>

</table>

</div>
<div class="modal-footer" >

	<div class="pull-left">
		<span>No se puede desagrupar si hay pedigris en estado Activo</span>
	</div>
	<div class="btn btn-link-action" ng-click="$close()">
		<span title="Cerrar">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </span>
		<span class="btn-link-action">Cerrar</span>
	</div>
</div>

