<style>
    .modal-content{
        width: 800px;
    }
    .pdg-alert {
        position: absolute;
    }
</style>

<div id="metadata" class="modal-header">
    <h4> {{ 'pedigree.metadata.searchedPersonInfo' | i18next }} {{alias}}
    </h4>
</div>


<div class="input-data-section modal-body">
    <div class="col-md-12">
        <div class="item-input col-md-4">
            <label for="alias">{{ 'generics.alias' | i18next }}<span class="field-obligated">*</span></label>
            <input ng-disabled="modo === 'edit'" class="form-control form-select" id="alias" type="text" data-ng-model="metadataProfile.alias" required/>
        </div>
        
        <div class="item-input col-md-4">
            <label for="firstName">{{ 'generics.name' | i18next }}</label>
            <input class="form-control form-select" id="firstName" type="text" data-ng-model="metadataProfile.firstName"/>
        </div>
        <div class="item-input col-md-4">
            <label for="lastName">{{ 'generics.lastName' | i18next }}</label>
            <input class="form-control form-select" id="lastName" type="text" data-ng-model="metadataProfile.lastName"/>
        </div>
    </div>
    <div class="col-md-12">
        <div class="item-input col-md-3">
            <label for="identification">{{ 'pedigree.metadata.identification' | i18next }}</label>
            <input class="form-control form-select" id="identification" type="text" data-ng-model="metadataProfile.identification"/>
        </div>
        
        
        <div class="item-input col-md-2">
            <label for="sexoID">{{ 'generics.sex' | i18next }}</label>
            <select id="sexoID" data-ng-model="metadataProfile.sex" class="form-control form-select"
            ng-options="s as ('sexFull.' + s | i18next) for s in sex">
            </select>
        </div>
    
        <div class="item-input col-md-3">
            <label for="nationality">{{ 'pedigree.metadata.nationality' | i18next }}</label>
            <input class="form-control form-select" id="nationality" type="text" data-ng-model="metadataProfile.nationality"/>
        </div>
    
        <div class="item-input col-md-4">
            <label for="dateOfMissing">{{ 'pedigree.metadata.dateMissing' | i18next }}</label>
            <p class="input-group" style="margin-bottom: 0px;">
                <input id="dateOfMissing" name="dateOfMissing" type="text" class="form-control form-select" datepicker-popup="dd/MM/yyyy"
                data-ng-model="metadataProfile.dateOfMissing" is-open="status1.opened"
                ng-blur="checkMaxMin('dateOfMissing','dateOfBirth')"
                max-date="maxDate"
                min-date="minDateNac"
                close-text="Close"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-link-action btn-link-border btn-calendar" data-ng-click="status1.opened = true" >
                        <i class="glyphicon glyphicon-genis-calendar glyphicon-calendar vertical-align"></i></button>
                </span>
            </p>
        </div>
    </div>
    <div class="col-md-12">
        
        <div class="item-input col-md-4">
            <label for="dateOfBirth">{{ 'pedigree.metadata.dateOfBirth' | i18next }}</label>
            <p class="input-group" style="margin-bottom: 0px;" >
                <input name="dateOfBirth" id="dateOfBirth" type="text"
                class="form-control form-select" datepicker-popup="dd/MM/yyyy"
                data-ng-model="metadataProfile.dateOfBirth" is-open="status2.opened"
                ng-blur="comprobarFechas('dateOfBirth','dateOfMissing')"
                max-date="maxDate"
                ng-disabled="inputVisible('dateOfBirthFrom')"
                close-text="Close" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-link-action btn-link-border btn-calendar" data-ng-click="status2.opened = true"  ng-disabled="inputVisible('dateOfBirthFrom')" >
                        <i class="glyphicon glyphicon-genis-calendar glyphicon-calendar vertical-align"></i></button>
                </span>
            </p>
        </div>
        <div class="item-input col-md-4">
            <label for="dateOfBirthFrom">{{ 'pedigree.metadata.dateOfBirthRange' | i18next }}</label>
            <p class="input-group" style="margin-bottom: 0px;">
                <input   name="dateOfBirthFrom" id="dateOfBirthFrom" type="text"
                class="form-control form-select" datepicker-popup="dd/MM/yyyy"
                data-ng-model="metadataProfile.dateOfBirthFrom" is-open="status3.opened"
                ng-blur="comprobarFechas('dateOfBirthFrom','dateOfMissing')"
                max-date="maxDate"
                ng-disabled="inputVisible('dateOfBirth' )"
                close-text="Close" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-link-action btn-link-border btn-calendar" data-ng-click="status3.opened = true"  ng-disabled="inputVisible('dateOfBirth')" >
                        <i class="glyphicon glyphicon-genis-calendar glyphicon-calendar vertical-align"></i></button>
                </span>
            </p>
        </div>
        <div class="item-input col-md-4">
            <label for="dateOfBirthTo"> {{ 'pedigree.metadata.dateOfBirthTo' | i18next }} </label>
            <p class="input-group" style="margin-bottom: 0px;">
                <input  name="dateOfBirthTo" id="dateOfBirthTo" type="text"
                class="form-control form-select" datepicker-popup="dd/MM/yyyy"
                data-ng-model="metadataProfile.dateOfBirthTo" is-open="status4.opened"
                ng-blur="checkMaxMin('dateOfBirthTo','dateOfBirthFrom')"
                max-date="maxDate"
                min-date="minDateHasta"
                ng-disabled="borrarValor('dateOfBirthFrom')"
                close-text="Close" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-link-action btn-link-border btn-calendar" data-ng-click="status4.opened = true" ng-disabled="borrarValor('dateOfBirthFrom')">
                        <i class="glyphicon glyphicon-genis-calendar glyphicon-calendar vertical-align"></i></button>
                </span>
            </p>
        </div>
    </div>
    <div class="col-md-12">
        <div class="item-input col-md-3">
            <label for="height">{{ 'pedigree.metadata.height' | i18next }}</label>
            <input class="form-control form-select" id="height" type="text" data-ng-model="metadataProfile.height"/>
        </div>
        <div class="item-input col-md-3">
            <label for="weigth">{{ 'pedigree.metadata.weight' | i18next }}</label>
            <input class="form-control form-select" id="weigth" type="text" data-ng-model="metadataProfile.weight"/>
        </div>
        <div class="item-input col-md-3">
            <label for="hairColor">{{ 'pedigree.metadata.hairColor' | i18next }}</label>
            <input class="form-control form-select" id="hairColor" type="text" data-ng-model="metadataProfile.hairColor"/>
        </div>
        <div class="item-input col-md-3">
            <label for="skinColor">{{ 'pedigree.metadata.skinColor' | i18next }}</label>
            <input class="form-control form-select" id="skinColor" type="text" data-ng-model="metadataProfile.skinColor"/>
        </div>
    </div>
    <div class="col-md-12">
        <div class="item-input col-md-12">
            <label for="clothing">{{ 'pedigree.metadata.clothing' | i18next }}</label>
            <textarea class="form-control form-select" id="clothing" type="text" data-ng-model="metadataProfile.clothing"
            dir="auto" style="overflow: hidden; word-wrap: break-word;" ></textarea>
        </div>
    </div>
    <div class="col-md-12">
        <div class="item-input col-md-12">
            <label for="particularidades">{{ 'pedigree.metadata.particularities' | i18next }}</label>
            <textarea class="form-control form-select" id="particularidades" type="text" data-ng-model="metadataProfile.particularities"
            dir="auto" style="overflow: hidden; word-wrap: break-word;"></textarea>
        </div>
    </div>
</div>

<div class="modal-footer">
    
    <div class="btn btn-secondary-action" ng-click="cancel()">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        <span class="btn-secondary-action">{{ 'buttons.cancel' | i18next }}</span>
    </div>
    <div ng-if="modo == 'add'" class="btn btn-link-action" ng-click="limpiar()">
        <span title="{{ 'buttons.cleanData' | i18next }}">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        </span>
        <span class="btn-link-action">{{ 'buttons.clean' | i18next }}</span>
    </div>
    <button type="button" class="btn btn-primary-action"
    data-ng-click="guardar()" ng-disabled="!metadataProfile.alias" ng-if="!isCourtCaseClosed()">{{ 'buttons.save' | i18next }}</button>
    
</div>