<div>

    <!-- Genotipificación -->
    <div class="scenarios-section" style="page-break-after:always;">

        <h3 class="m-b-10">{{ 'profileViews.comparison.title' | i18next }}</h3>

        <div class="m-b-10" ng-repeat="chunk in profileChunks track by $index">
            <div class="row" style="page-break-inside:avoid;">
                <div id="td-comp-gen-1" class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>
                <div ng-repeat="p in chunk track by $index" class="text-center col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <div class="comparison-profileID m-b-10">
                        <span style="display:block">{{p.alias | prittyLimitTo:10:false}}</span>
                        <span>{{'(' + p.globalCode + ')' | prittyLimitTo:20:false}}</span>
                    </div>
                </div>
            </div>

            <div ng-repeat="item in comparison track by $index" class="row">
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    {{item.locus}}
                </div>
                <div ng-repeat="p in chunk track by $index" class="text-center col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <span ng-repeat="allele in item.g[p.globalCode] track by $index" class="text-center comparision-allele">
                        {{allele}}
                    </span>
                </div>
            </div>
        </div>
    </div>

    <!-- Pedigree -->
    <div class="scenarios-section" style="page-break-after:always;">

        <h3 class="m-b-10">{{ 'generics.pedigree' | i18next }}</h3>

        <div class="m-l-10 m-r-10">
            <h4 class="row">{{ 'pedigree.scenarioReport.individuals' | i18next }}</h4>

            <div class="row bold">
                <div class="text-center col-xs-2 col-sm-2 col-md-2 col-lg-2 border-black">{{ 'pedigree.scenarioReport.unknown' | i18next }}</div>
                <div class="text-center col-xs-2 col-sm-2 col-md-2 col-lg-2 border-black">{{ 'generics.alias' | i18next }}</div>
                <div class="text-center col-xs-1 col-sm-1 col-md-1 col-lg-1 border-black">{{ 'generics.sex' | i18next }}</div>
                <div class="text-center col-xs-2 col-sm-2 col-md-2 col-lg-2 border-black">{{ 'generics.father' | i18next }}</div>
                <div class="text-center col-xs-2 col-sm-2 col-md-2 col-lg-2 border-black">{{ 'generics.mother' | i18next }}</div>
                <div class="text-center col-xs-3 col-sm-3 col-md-3 col-lg-3 border-black">{{ 'generics.profile' | i18next }}</div>
            </div>

            <div ng-repeat="individual in scenario.genogram track by $index" class="row">
                <div class="text-center col-xs-2 col-sm-2 col-md-2 col-lg-2 border-black">{{individual.unknown?'Yes':'No'}}</div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 border-black">{{individual.alias}}</div>
                <div class="text-center col-xs-1 col-sm-1 col-md-1 col-lg-1 border-black">{{'sexPedigree.' + individual.sex | i18next}}</div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 border-black">{{individual.idFather || '-'}}</div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 border-black">{{individual.idMother || '-'}}</div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 border-black">{{individual.globalCode || '-'}}</div>
            </div>

            <h4 class="row">{{ 'pedigree.scenarioReport.genogram' | i18next }}</h4>
            <div class="genogram">
                <img ng-src="{{canvasURL}}">
            </div>

        </div>

    </div>

    <!-- Resultados -->
    <div class="scenarios-section" style="page-break-after:always;" ng-if="scenario.lr">

        <h3 class="m-b-10">{{ 'pedigree.scenarioReport.results' | i18next }}</h3>

        <div class="m-l-10 m-r-10">
            <div>
                <span class="bold">{{ 'pedigree.scenarioReport.baseFrequency' | i18next }}:</span>
                <span>{{scenario.frequencyTable}}</span>
            </div>

            <div class="pedigree-scenario-lr m-b-10 m-t-10" ng-if="scenario.lr">
                {{ 'pedigree.scenario.resultsFrom' | i18next }} <span class="bold">{{ 'pedigree.scenario.totalLR' | i18next }}</span> =
                <input type="text" class="form-control form-select" style="width: auto; display: inline"
                       value="{{scenario.lr | likelihoodratioComp: true: true}}" disabled="disabled" />
            </div>
        </div>


    </div>

</div>