

<div class="container-top">
    <div class="row padding-0 match-group-search">
        <div class="content court-case padding-0">
            <div class="row m-b-10">
                <div class="options-header">
                    <div class="form-group">
		<form class="navbar-form" role="search" name="searchMatchForm" novalidate data-ng-submit="searchMatches()">
            
            <div class="row padding-0">
                <div class="col-md-12  match-group-search">
                    <div class="row padding-0">
                        <!-- perfil -->
                        <div class="filtro_container">
                            <div class="row padding-0">
                                <div class="form-group col-md-4">
                                    <div class="row  m-t-0 m-b-0 vertical-align">
                                        <div class="col-md-2">
                                            <label class="m-r-10" for="search-profile">{{ 'generics.profile' | i18next }}</label>
                                        </div>
                                        <div class="col-md-10">
                                            <input id="search-profile" type="text" data-ng-model="search.profile" placeholder="{{ 'generics.code' | i18next }}" class="form-control form-select"/>
                                        </div>
                                    </div>
                                </div>
                                <!-- fecha  -->
                                <div class="item-input col-md-8 vertical-align">
                                    <div class="col-md-1 padding-left-0 ">
                                        <label class="m-r-10" for="hourFrom">{{ 'generics.date' | i18next }}</label>
                                    </div>
                                    <div class="col-md-10 padding-left-0 padding-right-30">
                                        <div class="row padding-0  m-t-0 m-b-0 ">
                                            <div class="col-md-6">
                                                <input type="text" name="hourFrom" id="hourFrom"
                                                       placeholder="{{ 'generics.since' | i18next }}" data-datepicker-popup="dd/MM/yyyy"
                                                       data-ng-model="search.hourFrom"
                                                       data-is-open="datepickers.hourFrom" class="form-control form-select"
                                                       data-datepicker-options="dateOptions"
                                                       ng-blur="checkMax('hourFrom')"
                                                       max-date="maxDate"
                                                       data-close-text="Close" data-ng-click="toggleDatePicker($event,'hourFrom')"/>

                                            </div>
                                            <div class="col-md-6">

                                                <input type="text" name="hourUntil" id="hourUntil"
                                                       placeholder="{{ 'generics.to' | i18next }}" data-datepicker-popup="dd/MM/yyyy"
                                                       data-ng-model="search.hourUntil"
                                                       data-is-open="datepickers.hourUntil" class="form-control form-select"
                                                       data-datepicker-options="dateOptions"
                                                       ng-blur="checkMaxMin('hourUntil','hourFrom')"
                                                       max-date="maxDate"
                                                       min-date="minDateCoin"
                                                       data-close-text="Close" data-ng-click="toggleDatePicker($event,'hourUntil')"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                    <div class="row padding-0">
                        <!-- Buscar -->
                        <div class="filtro_container">
                            <div class="row padding-0">
                                <!-- Categoria -->
                                <div class="form-group col-md-4">
                                    <div class="row m-t-0 m-b-0 vertical-align">
                                    <div class="col-md-2">
                                        <label class="m-r-10" for="search-category">{{ 'generics.category' | i18next }}</label>
                                    </div>
                                    <div class="item-input col-md-10">
                                        <select id="search-category" data-ng-model="search.category" class="custom-select col-md-8 form-control form-select">
                                            <optgroup data-ng-repeat="(grpId, group) in categorias" label="{{group.name}}">
                                                <option data-ng-repeat="category in group.subcategories" value="{{category.id}}">{{category.name}}</option>
                                            </optgroup>

                                        </select>
                                    </div>
                                    </div>
                                </div>
                                <div class="col-md-8 desk-align-right">
                                    <!-- <div class="btn btn-link-action" ng-click="clearSearch()" ng-disabled="isProcessing">
                                        <span title="Limpiar filtros" class="glyphicon glyphicon-trash" aria-hidden="true">Cancelar</span>
                                    </div> -->
                                    <span id="processingSpan" class="icon-refresh" ng-class="{'spinner': isProcessing}" data-ng-show="isProcessing"></span>
                                    <a  title="{{ 'generics.cleanFilters' | i18next }}" ng-click="clearSearch()" ng-disabled="isProcessing"  class="cancel-link" >{{ 'buttons.clean' | i18next }}</a>
                                   
                                    <button id="search-button" type="submit" class="btn btn-round btn-success selected" data-ng-disabled="isProcessing">{{ 'buttons.search' | i18next }}</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                
            </div>
            <div class="row padding-0">
                <!-- estado -->
                <div class="filtro_container">
                        <div class="row padding-left-30  padding-right-30 ">
                                <div class="col-md-12">
                                        <div class="row padding-0 tabs-estados" >
                                            <div class="col-md-3 padding-left-0 text-center tabs-estados-tab tab-estados-tab__todos"> <a ng-click="filtros(status[0])" data-ng-model="filtro" uib-btn-radio="'Todos'" id="all" value="{{undefined}}">{{ 'generics.all' | i18next }}</a></div>
                                            <div class="col-md-3 text-center tabs-estados-tab tab-estados-tab__pendientes tab-estados-tab__pendientes__selected"><a class="" ng-click="filtros(status[1])" data-ng-model="filtro" id="pending" value="pending">{{ 'generics.pendingPlural' | i18next }}</a></div>
                                            <div class="col-md-3 padding-left-0 text-center tabs-estados-tab tab-estados-tab__confirmados"><a class=""  ng-click="filtros(status[2])" data-ng-model="filtro" id="hit" value="hit">{{ 'generics.confirmedPlural' | i18next }}</a></div>
                                            <div class="col-md-3 text-center tabs-estados-tab tab-estados-tab__descartados"><a  ng-click="filtros(status[3])" data-ng-model="filtro" id="discarded" value="discarded"> {{ 'generics.discardedPlural' | i18next }}</a></div>
                                            <div class="col-md-3 text-center tabs-estados-tab tab-estados-tab__descartados"><a  ng-click="clearMatches()" data-ng-model="filtro" id="unmatching" value="discarded"> {{ 'generics.withoutCoincidence' | i18next }}</a></div>
                                        </div>
                                    </div>
                        </div>
                    <div class="row" ng-if="!isMpi">
                        <div class="col-md-12 text-right" >
                            <div class="m-t-10 row">
                                <div  class="form-group col-md-12 vertical-align">
                                    <div class="row padding-0  m-t-0 vertical-align">
                                        <div class="col-md-offset-6 col-md-3 padding-0"> <label for="group">{{ 'generics.viewBy' | i18next }}:</label>
                                        </div>

                                        <div class="col-md-3 item-input padding-right-0">
                                            <select id="group" class="form-control form-select" data-ng-model="grupoId" data-ng-change="searchPrevious(grupoId)">
                                                <option id="pedigreeGroup" value="pedigree">{{ 'generics.pedigree' | i18next }}</option>
                                                <option id="profileGroup" value="profile">{{ 'generics.profile' | i18next }}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row coincidencia-estado">
        {{allProfiles}}
    </div>
   
    <div data-ng-show="noResult && !isProcessing" class="row coincidencia-estado">

                    {{ 'generics.noResult' | i18next }}
             
    </div>
    <div class="row coincidencia-estado"  data-ng-show="!noResult" ng:repeat="match in matches" name="{{'match_' + match.matchCard.id}}">
        <div class="coincidencia-estado--card estado-pendiente" >

            <div class="row">
                    
                <div class="col-md-4">
                    <a id="{{'focus_' + match.matchCard.id}}" name="{{'focus_' + match.matchCard.id}}" />
                    <h5> <span  ng-show="match.matchCard.groupBy == 'pedigree'" class="small">{{match.matchCard.courtCaseName}} -</span> <span> {{match.matchCard.title}} </span> </h5>

                    <h6 class="dato">{{ 'generics.userResponsible' | i18next }}: <span class="dato laboratorio big-size">{{match.matchCard.assignee}}</span></h6>
                   
                </div>
                    
                <div class="col-md-8 padding-top-5 padding-bottom-5">
                    <div class="row padding-0 coincidencia-estado-detalle ">
                        
                        <div class="col-md-5 padding-top-7 padding-bottom-7 padding-right-0">
                            <h6 class="dato categoria" ng-show="match.matchCard.groupBy != 'pedigree'">{{ 'generics.category' | i18next }}: <span class="dato ultimacoincidencia">{{match.matchCard.category}}</span></h6>
                            <h6 class="dato categoria" ng-show="match.matchCard.groupBy == 'pedigree'">T{{ 'pedigree.matchCourtCase.caseType' | i18next }}:  <span class="dato ultimacoincidencia">{{match.matchCard.category}}</span></h6>

                            <h6 class="dato ">{{ 'generics.matchesGroup.lastMatch' | i18next }}: <span class="dato">{{match.matchCard.lastMatchDate | date:'yyyy-MM-dd'}}</span></h6>
                        </div>
                        <div class="col-md-7  padding-0 coincidencia-estado-detalle ">
                                <div class="col-md-3 padding-right-0 padding-left-0 padding-top-7 padding-bottom-7">
                                        <h6>{{ 'generics.pendingPlural' | i18next }}</h6>
                                        <p class="dato laboratorio big-size" ng-if="match.matchCard.pending !== 0">{{match.matchCard.pending}}</p>
                                        <p class="dato laboratorio big-size" ng-if="match.matchCard.pending == 0">&mdash;</p>
                                    </div>
                                <div class="col-md-3 padding-right-0 padding-left-0 padding-top-7 padding-bottom-7">
                                        <h6>{{ 'generics.confirmedPlural' | i18next }}</h6>
                                        <p class="dato laboratorio big-size" ng-if="match.matchCard.hit !== 0 ">{{match.matchCard.hit}}</p>
                                        <p class="dato laboratorio big-size" ng-if="match.matchCard.hit == 0">&mdash;</p>
                                    </div>
                                <div class="col-md-3 padding-right-0 padding-left-0 padding-top-7 padding-bottom-7">
                                    <h6>{{ 'generics.discardedPlural' | i18next }}</h6>
                                    <p class="dato laboratorio big-size" ng-if="match.matchCard.discarded !== 0">{{match.matchCard.discarded}}</p>
                                    <p class="dato laboratorio big-size" ng-if="match.matchCard.discarded == 0">&mdash;</p>
                                </div>
                                <div class="col-md-3 padding-0 expander-btn">
                                    <a class="btn" role="button" data-toggle="collapse" data-target="#{{match.matchCard.id}}" aria-expanded="false" aria-controls="{{match.matchCard.id}}">
                                        <span class="icon-arrow-down"></span>
                                    </a>
                                </div>
                        </div>
                    </div>
                </div>
            </div>  
            
        </div> 
        <div class="collapse" id="{{match.matchCard.id}}">
            <div class="well">
                <div class="desplegable row padding-bottom-10 padding-top-10">

                    <table class="table table-striped table-matches-details ">
                    <thead>
                    <tr>
                        <th>
                            &nbsp;
                        </th>
                        <th class="text-center col-md-2 head-column">
                            <pdg-sortable ng-show="grupoId != 'pedigree'" name="{{ 'generics.case' | i18next }}" predicate="sortField" reverse="!ascending"
                                           sort-action="sortBy('Compatibility', 'profile')" sort-field="internalSample"></pdg-sortable>
                            <pdg-sortable ng-show="grupoId == 'pedigree'" name="{{ 'generics.labCode' | i18next }}" predicate="sortField" reverse="!ascending"
                                          sort-action="sortBy('Compatibility', 'profile')" sort-field="internalSample"></pdg-sortable>
                        </th>

                        <th class="text-center col-md-2 head-column">
                            <pdg-sortable ng-show="grupoId != 'pedigree'" name="{{ 'generics.pedigree' | i18next }}"predicate="sortField" reverse="!ascending"
                                          sort-action="sortBy('Compatibility', 'profileg')" sort-field="sampleCode"> </pdg-sortable>
                            <pdg-sortable ng-show="grupoId == 'pedigree'" name="{{ 'generics.genisCode' | i18next }}" predicate="sortField" reverse="!ascending"
                                          sort-action="sortBy('Compatibility', 'profileg')" sort-field="sampleCode"></pdg-sortable>
                        </th>
                        <th class="text-center col-md-2 head-column" ng-if="grupoId == 'pedigree'"  style="width:45%">
                            <pdg-sortable  name="{{ 'generics.category' | i18next }}" predicate="sortField" reverse="!ascending"
                                          sort-action="sortBy('Compatibility', 'category')" sort-field="category"></pdg-sortable>
                        </th>

                        <th class="text-center col-md-1 head-column" style="width:5%">
                            <pdg-sortable name="{{ 'generics.date' | i18next }}" predicate="sortField" reverse="!ascending"
                                          sort-action="sortBy('Compatibility', 'date')" sort-field="date"></pdg-sortable>
                        </th>

                        <th class="text-center col-md-1 head-column">
                            <pdg-sortable name="{{ 'generics.lr' | i18next }}" predicate="sortField" reverse="!ascending"
                                          sort-action="sortBy('Compatibility', 'compatibility')" sort-field="compatibility"></pdg-sortable>
                        </th>
                        <th class="text-center col-md-1 head-column">
                            <pdg-sortable name="{{ 'generics.state' | i18next }} " predicate="sortField" reverse="!ascending"
                                          sort-action="sortBy('Compatibility', 'pedigreeStatus')" sort-field="pedigreeStatus"></pdg-sortable>
                        </th>
                        <th class="text-center col-md-1 head-column" style="width:2%">
                            &nbsp;
                        </th>
                        <th class="text-center col-md-1 head-column" style="width:2%">
                            &nbsp;
                        </th>
                        <th ng-if="isMpi" class="text-center col-md-1 head-column" style="width: 2%">{{ 'pedigree.matchCourtCase.analysis' | i18next }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng:repeat="m in match.matchCardPed">
                        <td style="width: 2%"></td>
                        <td class="text-center">
                            {{m.sampleCode}}
                        </td>

                        <td class="text-center">
                            {{m.internalCode}}
                        </td>
                        <td class="text-center" ng-if="grupoId == 'pedigree'" >
                            {{m.categoryId}}
                        </td>
                        <td class="text-center" style="width:10%">
                            {{m.lastMatchDate | date:'yyyy-MM-dd'}}
                        </td>
                        <td class="text-center">
                            <span ng-if="m.lr != 0"> {{m.lr | likelihoodratio:true:true}} </span>
                            <span ng-if="m.lr == 0">-</span>

                        </td>

                        <td class="text-center">{{ matchPStatus[m.estado] }}</td>


                        <td class="text-center">
                            <a id="goToScenarioDisabled" ng-if="!canDiscard(m)||isHit(m)" class="btn" disabled="disabled">
                                <span class="icon-agregar-escenario" aria-hidden="true"></span>
                            </a>
                            <a ng-if="canDiscard(m)&&!isHit(m)" ng-disabled="{{!canDiscard(m)||isHit(m)}}" class="btn" title="{{ 'buttons.newScenario' | i18next }}" href="{{goToScenario(m, match.matchCard)}}">
                                <span class="icon-agregar-escenario" aria-hidden="true"></span>
                            </a>
                        </td>

                        <td class="text-center">
                            <a id="doDiscardDisabled" ng-if="!canDiscard(m)||isHit(m)" class="btn" disabled="disabled" title="{{ 'buttons.discard' | i18next }}">
                                <span class="icon-descartar" aria-hidden="true"></span>
                            </a>
                            <a id="doDiscard" ng-if="canDiscard(m)&&!isHit(m)"
                               prueba="{{ m.estado === 'pending'}}"
                               data-ng-disabled="{{ m.estado !== 'pending'}}"
                               pdg-confirm pdg-confirm-title="{{ 'buttons.discardMatch' | i18next }}"
                               pdg-confirm-content="{{ 'alerts.match.discardMatchSure' | i18next }}"
                               param="{{m}}" class="btn" pdg-on-confirm="discard">
                                <span class="icon-descartar"></span>
                            </a>
                        </td>
                        <td ng-if="isMpi" class="text-center">
                            <a ng-if="!m.matchingId" disabled="disabled" id="go_evidencia_{{$index}}" class="btn" title="{{ 'generics.viewMitochondrialAnalysis' | i18next }}" >
                                <span class="icon-ver" aria-hidden="true"></span>
                            </a>
                            <a ng-if="m.matchingId" href={{goToComparisonScreening(m,match.matchCard)}} class="btn" title="{{ 'generics.viewMitochondrialAnalysis' | i18next }}" >
                                <span class="icon-ver" aria-hidden="true"></span>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="12" style="padding-top: 25px; text-align: center;">
                            <pagination style="position: initial; transform: translate(0, 0);" boundary-links="true" ng-change="searchMatches('Compatibility',match.matchCard.id)" items-per-page="{{tamaPagina}}" max-size="5" total-items="itemsTotales" ng-model="currentPages" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"  rotate="false"></pagination>
                        </td>
                    </tr>
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div
  id="report_{{idCourtCase}}"
  ng-show="false"
  ng-controller="pedigreeCaseSummaryController"
  data-ng-include="'/assets/javascripts/pedigree/views/pedigree-case-summary.html'"
  ng-init="initCourtCase(idCourtCase)"
></div>
<footer class="matches-groups-footer-footer">
    <div class="row coincidencia-estado">
        <button
            type="button"
            class="btn btn-secondary-action"
            ng-click="printSummaryReport()"
            enable="{{summaryReady}}"
        >Imprimir resumen</button>
    </div>
    <div class="row">
        <pagination boundary-links="true" ng-change="changePage()" items-per-page="{{pageSize}}" max-size="10" total-items="totalItems" ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"  rotate="false"></pagination>
    </div>
</footer>
