
<div class="row padding-0 match-group-search">
        <div class="content padding-0">
    <table class="table" >
        <tr class="table-category-mapping flex">
            <td class="col-md-6" style="border-color:transparent;">
                <div>
                     <div class="col-md-6 pull-left input-group">
                        <input type="text" class="form-control form-select ng-pristine ng-untouched ng-valid" aria-describedby="basic-addon2" id="searchText" name="searchText" ng-model="$parent.searchText" placeholder="{{ 'profileViews.search' | i18next }}" ng-keyup="$event.keyCode == 13 ? searchProfile() : null">
                        <span class="input-group-addon" id="basic-addon2" ng-click="searchProfile()">
                          <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </span>
                    </div>

                    <span id="processingSpan" class="glyphicon glyphicon-refresh m-l-10 m-t-10"
                    	data-ng-class="{'spinner': isProcessing}" data-ng-show="isProcessing"></span>
                    
                    <div class="col-md-3 padding-0 pull-right vertical-align">
                        <div class="padding-0 col-md-7  vertical-align" >
                            <label class="pull-left control-label" for="statusProfileAG">{{ 'pedigree.groupedProfiles.grouped' | i18next }}</label>
                        </div>
                        <div class="item-input col-md-2 padding-0 text-left  vertical-align">
                            <input type="checkbox" data-ng-model="statusProfile.agrupado" style="height: 1.5em"
                            ng-click="searchProfile()" id="statusProfileAG">
                            </input>
                        </div>
                    </div>

                    <div class="col-md-2 padding-0 pull-right vertical-align">
                        <div class="padding-0 col-md-8  vertical-align">
                            <label class="pull-left control-label" for="statusProfileAC">{{ 'pedigree.profiles.actives' | i18next }}</label>
                        </div>
                        <div class="item-input col-md-4 padding-0 text-left">
                            <input type="checkbox" data-ng-model="statusProfile.activo" style="height: 1.5em"
                            ng-click="searchProfile()" id="statusProfileAC">
                            </input>
                        </div>
                    </div>

                </div>
            </td>
            <td class="col-md-6" style="border-color:transparent;">
                <button ng-click="addBatchProfiles()"
                        type="button" ng-if="!isCourtCaseClosed()"
                        class="btn btn-primary-action" >
                    {{ 'pedigree.profiles.associateLot' | i18next }}
                </button>
                <button ng-click="addProfile()"
                        type="button" ng-if="!isCourtCaseClosed()"
                        class="btn btn-secondary-action" >
                    {{ 'pedigree.profiles.associateProfiles' | i18next }}
                </button>
                <button class="btn btn-secondary-action" ng-click="disasociateSelected" ng-if="!isCourtCaseClosed()"
                        pdg-confirm pdg-confirm-title="Confirmar desasociar los perfiles seleccionados"
                        pdg-confirm-content="¿Está seguro de desasociar los perfiles seleccionados?"
                        param=""
                        pdg-on-confirm="disasociateSelected">{{ 'pedigree.disassociateSelected' | i18next }}</button>

              <!--  <div class="col-md-pull-12 pull-right" style="margin-top: 5px;">
                <button ng-click="collapse()"
                        type="button"
                        class="btn btn-primary-action" >
                    Buscar agrupaciones
                </button>
                <button ng-click=""
                        type="button"
                        class="btn btn-secondary-action" >
                    Agrupación Manual
                </button>
                </div> -->

            </td>

        </tr>
    </table>


    </div>
</div>

<div class="row padding-0">
        <div class="content padding-0">
    <span class="ng-binding ng-scope">
    <b>Cantidad de perfiles:</b> {{totalItems}} <span ng-hide="hideFilterLegend">de {{totalCaseItems}}</span>
</span>
</div>
</div>
<div class="row padding-0">
        <div class="content padding-0">
<table class="table table-bordered" >
    <thead>
        <tr>
            <th>
                <button class="btn btn-link-action" ng-click="selectAll()">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                </button>
            </th>
            <th>{{ 'pedigree.profiles.lotId' | i18next }}</th>
            <th>{{ 'pedigree.profiles.lotName' | i18next }}</th>
            <th>{{ 'generics.GENisCode' | i18next }}</th>
            <th>{{ 'generics.GENisLabCode' | i18next }}</th>
            <th>{{ 'generics.state' | i18next }}</th>
            <th>{{ 'pedigree.profiles.clusterProfile' | i18next }}</th>
            <th>{{ 'pedigree.profiles.seeGenotypification' | i18next }}</th>
            <th>{{ 'pedigree.profiles.seeClusteredProfiles' | i18next }}</th>
            <th>{{ 'pedigree.profiles.goTo' | i18next }}</th>
            <th>{{ 'pedigree.profiles.detachFromCase' | i18next }}</th>
        </tr>
    </thead>
    <tbody>
    <tr data-ng-repeat="p in profiles" >
        <td class="centered">
                <input type="checkbox" ng-model="p.selected" >
            </td>
        <td class="col-md-1 centered">{{p.idBatch}}</td>
        <td class="col-md-1 centered">{{p.batchLabel}}</td>
        <td class="col-md-2 centered">{{p.globalCode}}</td>
            <td class="col-md-2 centered">{{p.internalCode}}</td>
        <td class="coll-md-2 centered">{{"CollapsingStatus." + p.statusProfile | i18next }}</td>
        <td class="col-md-2 centered" >
            <div ng-hide="p.groupedBy == p.globalCode ">{{p.groupedBy}}</div>
        </td>
            <td class="col-md-1 centered" title="{{ 'pedigree.profiles.seeGenotypification' | i18next }}">
                <button class="btn btn-default btn-link-action btn-link-border" ng-if="!isCourtCaseClosed()" pdg-gen-popover gen="p.genotypification">
                    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                </button>
            </td>
        <td class="col-md-1 centered" title="{{ 'pedigree.profiles.seeClusteredProfiles' | i18next }}">
            <button class="btn btn-default btn-link-action btn-link-border"
                    ng-disabled="tieneHijos(p)"
                    ng-if="!isCourtCaseClosed()" ng-click="perfilesAsociados(p.globalCode)">
                <span class="glyphicon glyphicon-eye-open" ng-class="{'disableButton': tieneHijos(p) }"  aria-hidden="true"></span>
            </button>
        </td>
            <td show-permissions="DNA_PROFILE_CRUD" class="col-md-1 centered">
                <a id="showview_{{$index}}" class="btn btn-default btn-link-action btn-link-border" ng-if="!isCourtCaseClosed()" href="#/profile/{{p.globalCode}}?tab=dna">
                    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                </a>
            </td>
            <td class="col-md-1 centered">
                <a id="desasociate_{{$index}}" class="btn btn-default btn-link-action btn-link-border" ng-if="!isCourtCaseClosed()" pdg-confirm pdg-confirm-title="{{ 'pedigree.confirmDisass' | i18next }} {{p.globalCode}}" pdg-confirm-content="{{ 'pedigree.disassociateProfile' | i18next }} {{p.globalCode}}?" param="{{p.globalCode}}" pdg-on-confirm="removeProfile" >
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </a>
            </td>
        </tr>
    </tbody>
</table>

</div>
</div>

<footer class="pedigree-footer">
    <div>
        <pagination boundary-links="true" ng-change="changePage()" items-per-page="{{pageSize}}" max-size="10" total-items="totalItems" data-ng-model="$parent.currentPageNumber" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"  rotate="false"></pagination>
    </div>
</footer>