<!DOCTYPE html>
<div class="modal-header">
	<h4><b>{{ 'pedigree.scenario.warning' | i18next }}</b></h4>
</div>
<div class="modal-body">
    {{ 'pedigree.scenario.warningContinue' | i18next }}
</div>
<div class="modal-footer">
    <div id="cancel" type="button" class="btn btn-secondary-action" data-ng-click="close(false)">{{ 'buttons.no' | i18next }}</div>
    <button id="confirm" type="button" class="btn btn-primary-action" data-ng-click="close(true)">{{ 'buttons.yes' | i18next }}</button>
</div>