<div class="modal-header">
	<h4 ng-if="validated">Validar y Guardar escenario</h4>
	<h4 ng-if="!validated">Guardar escenario</h4>
</div>
<div class="modal-body">
	<form class="form-horizontal" name="nameForm">
		<div class="form-group">
			<label for="name" class="col-sm-2 control-label">Nombre</label>
			<div class="col-sm-10">
		  		<input ng-model="name" type="text" name="name" class="form-control form-select" id="name" required>
				<form-validation input="nameForm.name"></form-validation>
			</div>
	  	</div>
		<div class="form-group">
			<label for="description" class="col-sm-2 control-label">Descripción</label>
			<div class="col-sm-10">
				<textarea ng-model="description" class="form-control form-select" id="description"></textarea>
			</div>
		</div>
	</form>
</div>
<div class="modal-footer">

    <div class="desk-align-right inside-right">

	    <div class="btn btn-link-action" ng-click="cancel()">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            <span class="btn-link-action">Cancelar</span>
        </div>

        <button ng-if="validated"
                id="validateAndSave"
                pdg-confirm pdg-confirm-title="Validar Escenario"
                ng-disabled="nameForm.$invalid"
                pdg-confirm-content="Al validar el escenario se confirmarán las coincidencias de las hipótesis. ¿Está seguro que desea realizar la operación?"
                type="button"
                class="btn btn-primary-action" pdg-on-confirm="validateAndSave">Validar y Guardar</button>
        <button ng-if="!validated" class="btn btn-primary-action" ng-disabled="nameForm.$invalid" ng-click="save()">Guardar</button>

    </div>

</div>
