<!-- perfiles-por-usuario.html -->
<div class="row padding-0 breadcrumb_column">
    <div class="col-md-12 padding-0">
        <div class="row padding-0">
            <div class="breadcrumb_content">
                <ol class="breadcrumb">
                    <li>
                        <div class="btn volver" onclick="history.back()">
                            <span class="icon-atras" title="Volver"></span>
                        </div>
                    </li>
                    <li class="active">Perfiles por usuario y categoría</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="container-top">
    <div class="bulkupload-search">
        <div class="row">
            <div class="content">
                <div class="row padding-0">
                    <!-- Fecha desde y hasta -->
                    <div class="item-input col-md-12 vertical-align padding-top-10">
                        <div class="col-md-1 padding-left-0">
                            <label class="m-r-10" for="hourFrom">Fecha</label>
                        </div>
                        <div class="col-md-10 padding-left-0 padding-right-30">
                            <div class="row padding-0  m-t-0 m-b-0 ">
                                <div class="col-md-6">
                                    <input type="text" name="hourFrom" id="hourFrom" placeholder="Desde" data-datepicker-popup="dd/MM/yyyy"
                                           data-ng-model="search.hourFrom" data-is-open="datepickers.hourFrom" class="form-control form-select"
                                           data-datepicker-options="dateOptions" ng-blur="checkMax('hourFrom')"
                                           max-date="maxDate" data-close-text="Close" data-ng-click="toggleDatePicker($event,'hourFrom')"/>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" name="hourUntil" id="hourUntil" placeholder="Hasta" data-datepicker-popup="dd/MM/yyyy"
                                           data-ng-model="search.hourUntil" data-is-open="datepickers.hourUntil" class="form-control form-select"
                                           data-datepicker-options="dateOptions" ng-blur="checkMaxMin('hourUntil','hourFrom')"
                                           max-date="maxDate" min-date="minDateCoin" data-close-text="Close" data-ng-click="toggleDatePicker($event,'hourUntil')"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Botón Generar -->
        <div class="row m-t-10">
            <div show-permissions="PROFILE_EXPORTER" class="pull-right padding-right-0">
                <button type="button" class="btn btn-primary-action pull-right" ng-click="generarReportePorUsuario()">
                    <span>Generar Reporte</span>
                </button>
            </div>
        </div>
    </div>
</div>
