<div id="loadingApp" 
	class="container login-container" 
	style="z-index: 20;" 
	ng-controller="loadingAppController" 
	ng-show="isLoading" ng-model-options="{debounce: 2000}">

<div class="row">
<div class="col-sm-offset-3 col-sm-6">

	<div class="login-header">
		<div class="login-logo">
			<img alt="genis-logo" src="/assets/images/genisLogo.png" height="70" width="190">
		</div>
	</div>

	<div class="login-body start">
		<p><span id="processingSpan" class="icon-refresh spinner"></span></p>
		<p>@Messages("start.wait")</p>
	</div>

</div>
</div>

</div>	