<div class="container login-container" ng-controller="loginController" ng-show="showLogin">
<div class="row">
<div class="col-sm-offset-4 col-sm-4">

	<div class="login-header">
		<div class="login-logo">
			<img alt="genis-logo" src="/assets/images/genisLogo.png" height="70" width="190">
		</div>
	</div>

	<div class="login-body">
			<form id="loginform" name="loginform" class="form-horizontal" role="form" autocomplete="off">
				<fieldset data-ng-disabled="requestToken">
		
					<div class="input-group">
						<label for="nombredeusuario">{{"login.input.userName"|i18next}}</label>
						<div ng-controller="HelpTipCtrl as ctrl" class="question_box">
								<!-- <a href="" data-ng-click="ctrl.toggle()" >
								  <i class="fa fa-question-circle"></i>
							  </a> -->
						  </div>
							<input name="username"
								class="form-control login-input login-user" id="nombredeusuario"
								help-tip={{"login.input.userName"|i18next}}
								type="text" 
								data-ng-model="credentials.userName" 
								autocomplete="off"  
								placeholder={{"login.input.userName"|i18next}}
								   required
								autofocus />
							<form-validation input="loginform.username"></form-validation>
					</div>
					
					<div class="input-group">
						<label for="passwordin">{{"login.input.password"|i18next}}</label>
						<div ng-controller="HelpTipCtrl as ctrl" class="question_box">
								<!-- <a href="" data-ng-click="ctrl.toggle()" >
								  <i class="fa fa-question-circle"></i>
							  </a> -->
						  </div>
							<input name="password" id="passwordin"
								type="password"
								class="form-control login-input login-password"
								data-ng-model="credentials.password" 
								autocomplete="off" 
								placeholder={{"login.input.password"|i18next}}
								   required
								help-tip={{"login.input.password"|i18next}} />
                        <form-validation input="loginform.password"></form-validation>
					</div>
		
					<div class="input-group">
					<label for="totp">{{"login.tokenCode"|i18next}}</label>
					<div ng-controller="HelpTipCtrl as ctrl" class="question_box">
							<!-- <a href="" data-ng-click="ctrl.toggle()" >
							  <i class="fa fa-question-circle"></i>
						  </a> -->
					  </div>
						<input name="totp"
								type="text" 
								id="totp" 
								class="form-control  login-input login-otp"
								data-ng-model="credentials.otp" 
								placeholder={{"login.tokenCode"|i18next}}
							    required autocomplete="off"
								help-tip={{"login.input.totp"|i18next}}
								autofocus />
                        <form-validation input="loginform.totp"></form-validation>
					</div>

					<div class="input-group">
						
						<b 
							class="text-center alert-login" 
							id="unauthorized" 
							data-is-authorized="{{!unauthorized}}" 
							data-sever-time="{{serverTime}}" 
							data-ng-show="unauthorized">
							{{"login.unauthorizedAccess"|i18next}}</b>

						<button id="btnAuth" name="btnAuth" class="btn btn-primary-action btn-block" ng-disabled="loginform.$invalid" data-ng-click="login(credentials)">{{"login.label.enterSystem"|i18next}}</button>
	
						<div class="text-center" ng-controller="clearPassController" style="margin-top: 15px">
							<a style="cursor:pointer;" class="" ng-click="showClearPasswordForm()">{{"login.forgotPassword"|i18next}}</a>
						</div>
					</div>
					
				</fieldset>
				
			</form>
			
		</div>
				<div class="text-center" ng-controller="signupController" style="margin-top: 15px">
					<a style="cursor:pointer;" class="" ng-click="showSignupForm()">{{"login.requestAccount"|i18next}} </a>
				</div>

</div>
</div>
</div>	
