@import play.twirl.api.TemplateMagic.defining
@(title: String, reportData: play.api.libs.json.JsValue)

@import play.api.libs.json._

@defining((reportData \ "users").as[Seq[JsValue]]) { userData =>

    <html>
        <head>
            <meta charset="UTF-8">
            <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/reporting.css")">
            <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/main.css")">
            <title>@title</title>
            @headerReporting()
        </head>
        <body>
            <div class="report-title">
            @title
            </div>
            <br/><br/>

            @for(user <- userData.groupBy(jsValue => (jsValue \ "username").as[String])) {
                @defining(user._1) { username =>
                    <div class="report-subtitle">
                        Reporte para el usuario: @username
                    </div>
                    <br/>

                    <table class="table table-bordered" style="table-layout:fixed;">
                        <thead>
                            <tr>
                                <th class="report-heading">Categoria</th>
                                <th class="report-heading">Activos</th>
                                <th class="report-heading">Eliminados</th>
                            </tr>
                        </thead>
                        <tbody>
                        @defining(user._2.groupBy(jsValue => (jsValue \ "category").as[String])) { categoryGroups =>
                            @defining(categoryGroups.partition { case (_, profiles) => profiles.exists(p => (p \ "isReference").as[Boolean]) }) {  case (referenceCategories, nonReferenceCategories) =>
                                @for(categoryData <- referenceCategories ++ nonReferenceCategories) {
                                    @defining(categoryData._1) { category =>
                                        @defining(categoryData._2) { profiles =>
                                            @defining(profiles.filter(p => !(p \ "isDeleted").as[Boolean]).map(p => (p \ "int").as[Int]).sum) { activos =>
                                                @defining(profiles.filter(p => (p \ "isDeleted").as[Boolean]).map(p => (p \ "int").as[Int]).sum) { eliminados =>
                                                    <tr>
                                                        <td class="report-body">@category</td>
                                                        <td class="report-body">@activos</td>
                                                        <td class="report-body">@eliminados</td>
                                                    </tr>
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        </tbody>
                    </table>
                    <br/><br/>
                }
            }
        </body>
    </html>
}
