@(title : String, cantPerfilesCreados : Integer, cantPerfilesBorrados : Integer, cantMatches : Integer, cantHits : Integer, cantDescartes : Integer,
        cantPendientes : Integer, fechaDesde: String, fechaHasta: String)
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/reporting.css")">
        <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/main.css")">
        <!--<link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/mainTest.css")">-->
        <title>@title</title>
        @headerReporting()
    </head>
    <body>
        <div class="report-title" >
            {{ 'generics.profileReport.profileSummary' | i18next }} @fechaDesde y @fechaHasta:
        </div>
        <br/><br/>
        <div class="report-heading" >
            <table class="table table-bordered" style="table-layout:fixed;">
                    <!--<tr class="report-heading" >
                        <td> </td>
                        <td> Ultimos 30 dias </td>
                    </tr>-->
                <tr>
                    <td class="report-heading"> {{ 'profileReport.created' | i18next }} </td>
                    <td class="report-body">@cantPerfilesCreados</td>
                </tr>
                <tr>
                    <td class="report-heading" >  {{ 'profileReport.matches' | i18next }} </td>
                    <td class="report-body"> @cantMatches </td>
                </tr>
                <tr>
                    <td class="report-heading" > {{ 'profileReport.match.confirmed' | i18next }} </td>
                    <td class="report-body"> @cantHits </td>
                </tr>
                <tr>
                    <td class="report-heading" > {{ 'profileReport.match.discarded' | i18next }} </td>
                    <td class="report-body"> @cantDescartes </td>
                </tr>
                <tr>
                    <td class="report-heading" > {{ 'profileReport.match.pending' | i18next }} </td>
                    <td class="report-body"> @cantPendientes </td>
                </tr>
                <tr>
                    <td class="report-heading"> {{ 'profileReport.totalDeleted' | i18next }} </td>
                    <td class="report-body">@cantPerfilesBorrados</td>
                </tr>
            </table>
        </div>
    </body>
</html>
