@import play.twirl.api.TemplateMagic.defining
@(title: String, reportData: play.api.libs.json.JsValue)
@import play.api.libs.json._

@defining((reportData \ "profiles").validate[Seq[JsValue]].getOrElse(Seq.empty)) { profileData =>
    <html>
        <head>
            <meta charset="UTF-8">
            <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/reporting.css")">
            <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/main.css")">
            <title>@title</title>
            @headerReporting()
        </head>
        <body>
            <div class="report-title">
            @title
            </div>
            <br/><br/>

            <table class="table table-bordered" style="table-layout:fixed;">
                <thead>
                    <tr>
                        <th class="report-heading">Instancia Inferior</th>
                        <th class="report-heading">Categoría</th>
                        <th class="report-heading">Estado</th>
                        <th class="report-heading">Cantidad</th>
                    </tr>
                </thead>
                <tbody>
                @defining(
                    profileData.flatMap { profile =>
                        val maybeLabCode = (profile \ "labCode").validate[String].asOpt
                        val maybeCategory = (profile \ "category").validate[String].asOpt
                        val maybeStatus = (profile \ "status").validate[String].asOpt

                        for {
                            labCode <- maybeLabCode
                                    category <- maybeCategory
                                    status <- maybeStatus
                        } yield (labCode, category, status)
                    }.groupBy(x => (x._1, x._2, x._3)).map {
                        case ((lab, cat, stat), profiles) => (lab, cat, stat, profiles.size)
                    }.toSeq
                ) { validProfileData =>
                    @for((labCode, category, status, quantity) <- validProfileData) {
                        <tr>
                            <td class="report-body">@labCode</td>
                            <td class="report-body">@category</td>
                            <td class="report-body">@status</td>
                            <td class="report-body">@quantity</td>
                        </tr>
                    }

                    @defining(validProfileData.map(_._4).sum) { totalQuantity =>
                        <tr>
                            <td class="report-body" colspan="3"><strong>Total</strong></td>
                            <td class="report-body"><strong>@totalQuantity</strong></td>
                        </tr>
                    }
                }
                </tbody>
            </table>
        </body>
    </html>
}
