


<div class="row padding-0 breadcrumb_column">
	<div class="col-md-12 padding-0">
		<div class="row padding-0">
			<div class="breadcrumb_content">
				<ol class="breadcrumb">
						<li>
							<div class="btn volver" onclick="history.back()">
								<span  class="icon-atras" title="Volver"></span>
							</div>
						</li>
					<li class="active">{{ 'category.groups' | i18next }}</li>
					
				</ol>
			</div>
		</div>
	</div>
</div>

<div class="container-top">
	<div class="row content">
		<div class="col-md-3 padding-left-0">
			<label class="title-4">{{ 'category.forensic' | i18next }}</br></label>
			<accordion close-others="true">
		    	<accordion-group ng-repeat="(groupId, group) in forense" is-open="group.isOpen" ng-click="selectGrp(groupId)" class="accordion-item">
					<accordion-heading>
						<i class="glyphicon glyphicon-pencil"
						   ng-click="editGroup(groupId, $event)"></i>
			            <label>{{group.name}}</label>
			            <i class="pull-right glyphicon"
			            	ng-class="{
			            		'glyphicon-chevron-down': groupId == currGrpId,
			            		'glyphicon-chevron-right': groupId != currGrpId}"></i>
			        </accordion-heading>
					<ul class="list-group" style="margin-bottom: 0px">
					  <li class="list-group-block">
						  <div ng-show="group.pedigreeAssociation === false" class="item-link-action" ng-click="addCategory($event)">
							 <span title="{{ 'category.add' | i18next }}">
								  <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
							  </span>
							  <span>{{ 'category.add' | i18next }}</span>
						  </div>
					  </li>
						<li
					  	ng-repeat="catId in group.categories"
					  	ng-click="selectCat(catId, $event)"
					  	ng-class="{'list-group-menu-item-selected': catId == currCatId }"
					  	class="list-group-item list-group-menu-item">
						  	<span>{{categories[catId].name}}</span>
		            <i
		            	class="pull-right glyphicon glyphicon-pencil"
		            	ng-click="editCategory(catId)"
		            ></i>
					  </li>
					</ul>
				</accordion-group>
					<button
						type="button"
						class="btn btn-block btn-secondary-action"
						ng-click="addGroup()"
				>{{ 'buttons.addGroup' | i18next }} </button>



				</br><label class="title-4">MPI</br></label>
					<accordion-group ng-repeat="(groupId, group) in mpi" is-open="group.isOpen" ng-click="selectGrp(groupId)" class="accordion-item">
						<accordion-heading>
							<i class="glyphicon glyphicon-pencil"
							   ng-click="editGroup(groupId, $event)"></i>
							<label>{{group.name}}</label>
							<i class="pull-right glyphicon"
							   ng-class="{
			            		'glyphicon-chevron-down': groupId == currGrpId,
			            		'glyphicon-chevron-right': groupId != currGrpId}"></i>
						</accordion-heading>
						<ul class="list-group" style="margin-bottom: 0px">
							<li
									ng-repeat="catId in group.categories"
									ng-click="selectCat(catId, $event)"
									ng-class="{'list-group-menu-item-selected': catId == currCatId }"
									class="list-group-item list-group-menu-item">
								<span>{{categories[catId].name}}</span>
								<i
										class="pull-right glyphicon glyphicon-pencil"
										ng-click="editCategory(catId)"
								></i>
							</li>
						</ul>
					</accordion-group>


				</br><label class="title-4">{{ 'generics.dvi' | i18next }}</label></br>
				<accordion-group ng-repeat="(groupId, group) in dvi" is-open="group.isOpen" ng-click="selectGrp(groupId)" class="accordion-item">
					<accordion-heading>
						<i class="glyphicon glyphicon-pencil"
						   ng-click="editGroup(groupId, $event)"></i>
						<label>{{group.name}}</label>
						<i class="pull-right glyphicon"
						   ng-class="{
			            		'glyphicon-chevron-down': groupId == currGrpId,
			            		'glyphicon-chevron-right': groupId != currGrpId}"></i>
					</accordion-heading>
					<ul class="list-group" style="margin-bottom: 0px">
						<li
								ng-repeat="catId in group.categories"
								ng-click="selectCat(catId, $event)"
								ng-class="{'list-group-menu-item-selected': catId == currCatId }"
								class="list-group-item list-group-menu-item">
							<span>{{categories[catId].name}}</span>
							<i
									class="pull-right glyphicon glyphicon-pencil"
									ng-click="editCategory(catId)"
							></i>
						</li>
					</ul>
				</accordion-group>


		  </accordion>


		</div>
		<div class="col-md-9 padding-right-0">
			<div data-ng-show="groups[currGrpId].name">
				<h4>{{groups[currGrpId].name}} / {{categories[currCatId].name}}</h4>
			</div>
            <div class="col-md-12 category-section">
                <div class="col-md-6 category-section-alias">
                    <div class="col-md-12">
                        <label>{{ 'generics.alias' | i18next }}</label>
                    </div>
                    <div class="col-md-10">
                        <tags-input class="tags-input" ng-model="categories[currCatId].aliases" placeholder="{{ 'generics.enterAlias' | i18next }}"
                                    help-tip="aliases" help-tip-placement="left"></tags-input>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="col-md-12">
                            <label class="checkbox">
                                <input type="checkbox" help-tip="category.analyses.filiationDataRequired" help-tip-placement="top" data-ng-model="categories[currCatId].filiationDataRequired" /><b>{{ 'category.enableFilialDataEntry' | i18next }}</b>
                            </label>
                    </div>
                    <div class="col-md-12">
                        <label class="checkbox">
                            <input help-tip="category.analyses.replicate" help-tip-placement="bottom" type="checkbox" data-ng-model="categories[currCatId].replicate" />{{ 'category.replicateUpperInstance' | i18next }}
                        </label>
                    </div>
					<div class="col-md-12">
						<label class="checkbox">
							<input help-tip="category.analyses.allowManualLoading" help-tip-placement="bottom" type="checkbox" data-ng-model="categories[currCatId].manualLoading" />{{ 'category.manualLoadAllowed' | i18next }}
						</label>
					</div>
                </div>
            </div>
			<section class="extended-section">
				<div class="tabs tabs-style-line">
					<nav>
						<ul>
							<li ng-repeat="(id, at) in analysisTypes" ng-class="{'tab-current': activeAnalysis === at.id}">
                                <a href="" ng-click="selectAnalysis(at.id)"><span>{{'analysisTypes.' + at.name | i18next}}</span></a>
                            </li>
						</ul>
					</nav>
				</div>
                <div class="content-wrap">
                    <tabset class="tabset-section" data-ng-show="categories[currCatId].name" id="categories-tabs">
                        <tab active="tabs[0].active" heading="{{ 'category.headings.registerAnalysis' | i18next }}" ng-show="!analysisTypes[activeAnalysis].mitochondrial">
							<form name="profileValidationForm">
								<div ng-include="'/assets/javascripts/categories/profile-validation.html'"
									 help-tip="category.analyses.general" help-tip-placement="left"
									 class="animated fadeIn"/>
							</form>
                        </tab>
                        <tab ng-if="!categories[currCatId].pedigreeAssociation " active="tabs[1].active" heading="{{ 'category.headings.association' | i18next }}" ng-show="analysisTypes[activeAnalysis].name == 'Autosomal' && !categories[currCatId].isReference">
                            <div ng-include="'/assets/javascripts/categories/associations.html'"
								 help-tip="category.associations.general" help-tip-placement="left"
								 class="animated fadeIn"/>
                        </tab>
                        <tab active="tabs[2].active" heading="{{ 'category.headings.searchRules' | i18next }}">
                            <div ng-include="'/assets/javascripts/categories/matching-rules.html'"
								 help-tip="category.matching.general" help-tip-placement="left"
								 class="animated fadeIn"/>
                        </tab>
                    </tabset>
                </div>
			</section>
			<footer class="category-footer">
				<div class="desk-align-right inside-right">

					
					<div class="btn btn-link-action" ng-click="cancel()">
						
						<span  title="{{ 'generics.cleanScreen' | i18next }}" class="btn-link-action">{{ 'buttons.clean' | i18next }}</span>
					</div>

					<button help-tip="category.general.save" help-tip-placement="left" type="button"
							class="btn btn-primary-action"
                            ng-disabled="profileValidationForm.$invalid"
							data-ng-click="save()">{{ 'buttons.saveAll' | i18next }}</button>
				</div>
			</footer>

		</div>

	</div>

</div>