


<div class="row padding-0 breadcrumb_column">
  <div class="col-md-12 padding-0">
    <div class="row padding-0">
      <div class="breadcrumb_content">
        <ol class="breadcrumb">
          <li>
            <div class="btn volver" onclick="history.back()">
              <span  class="icon-atras" title="Volver"></span>
            </div>
          </li>
          <li class="active">Grupos y categorías</li>

        </ol>
      </div>
    </div>
  </div>
</div>

<div class="container-top">
  <div class="row content">
    <div class="col-md-3 padding-left-0">
      <label class="title-4">Forense</br></label>
      <accordion close-others="true">
        <accordion-group
          ng-repeat="(groupId, group) in forense"
          is-open="group.isOpen"
          ng-click="selectGrp(groupId)"
          class="accordion-item"
        >
          <accordion-heading>
            <i class="glyphicon glyphicon-pencil"
               ng-click="editGroup(groupId, $event)"></i>
            <label>{{group.name}}</label>
            <i class="pull-right glyphicon"
               ng-class="{
                      'glyphicon-chevron-down': groupId == currGrpId,
                      'glyphicon-chevron-right': groupId != currGrpId}"></i>
          </accordion-heading>
          <ul class="list-group" style="margin-bottom: 0px">
            <li class="list-group-block">
              <div ng-show="group.pedigreeAssociation === false" class="item-link-action" ng-click="addCategory($event)">
               <span title="Agregar categoría">
                  <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                </span>
                <span>Agregar categoría</span>
              </div>
            </li>
            <li
              ng-repeat="catId in group.categories"
              ng-click="selectCat(catId, $event)"
              ng-class="{'list-group-menu-item-selected': catId == currCatId }"
              class="list-group-item list-group-menu-item">
              <span>{{categories[catId].name}}</span>
              <i
                class="pull-right glyphicon glyphicon-pencil"
                ng-click="editCategory(catId)"
              ></i>
            </li>
          </ul>
        </accordion-group>
        <button
          type="button"
          class="btn btn-block btn-secondary-action"
          ng-click="addGroup()"
        >Agregar grupo </button>



        </br><label class="title-4">MPI</br></label>
        <accordion-group ng-repeat="(groupId, group) in mpi" is-open="group.isOpen" ng-click="selectGrp(groupId)" class="accordion-item">
          <accordion-heading>
            <i class="glyphicon glyphicon-pencil"
               ng-click="editGroup(groupId, $event)"></i>
            <label>{{group.name}}</label>
            <i class="pull-right glyphicon"
               ng-class="{
                      'glyphicon-chevron-down': groupId == currGrpId,
                      'glyphicon-chevron-right': groupId != currGrpId}"></i>
          </accordion-heading>
          <ul class="list-group" style="margin-bottom: 0px">
            <li
              ng-repeat="catId in group.categories"
              ng-click="selectCat(catId, $event)"
              ng-class="{'list-group-menu-item-selected': catId == currCatId }"
              class="list-group-item list-group-menu-item">
              <span>{{categories[catId].name}}</span>
              <i
                class="pull-right glyphicon glyphicon-pencil"
                ng-click="editCategory(catId)"
              ></i>
            </li>
          </ul>
        </accordion-group>


        </br><label class="title-4">DVI</label></br>
        <accordion-group ng-repeat="(groupId, group) in dvi" is-open="group.isOpen" ng-click="selectGrp(groupId)" class="accordion-item">
          <accordion-heading>
            <i class="glyphicon glyphicon-pencil"
               ng-click="editGroup(groupId, $event)"></i>
            <label>{{group.name}}</label>
            <i class="pull-right glyphicon"
               ng-class="{
                      'glyphicon-chevron-down': groupId == currGrpId,
                      'glyphicon-chevron-right': groupId != currGrpId}"></i>
          </accordion-heading>
          <ul class="list-group" style="margin-bottom: 0px">
            <li
              ng-repeat="catId in group.categories"
              ng-click="selectCat(catId, $event)"
              ng-class="{'list-group-menu-item-selected': catId == currCatId }"
              class="list-group-item list-group-menu-item">
              <span>{{categories[catId].name}}</span>
              <i
                class="pull-right glyphicon glyphicon-pencil"
                ng-click="editCategory(catId)"
              ></i>
            </li>
          </ul>
        </accordion-group>

        </br><label class="title-4">Cambios de Categoria</label></br>
        <div class="panel panel-heading list-group-menu-item">
          <h4 class="panel-title" ng-click="showCategoryModifications()">
            <i class="glyphicon glyphicon-transfer"></i>
            <label>Muestras de referencia indubitada</label>
            <i class="pull-right glyphicon glyphicon-cog"></i>
          </h4>
        </div>

      </accordion>
    </div>
    
    <div
      class="col-md-9 padding-right-0"
      data-ng-show="isCatModVisible"
    >
      <table
        class="table table-bordered table-hover"
      >
        <thead>
          <tr>
            <th class="col-md-6">Categoría Desde</th>
            <th class="col-md-6">Categoría Destino</th>
            <th class="col-md-1">Remover</th>
          </tr>
        </thead>
        <tbody>
          <tr data-ng-show="categoryModifications.length == 0">
            <td colspan="2">No hay cambios de categoría</td>
          </tr>
          <tr
            ng-repeat="mod in categoryModifications"
          >
            <td>{{mod[0]}}</td>
            <td>{{mod[1]}}</td>
            <td class="entered">
              <a
                class="btn btn-default btn-link-action btn-link-border"
                ng-click="deleteModification(mod)"
              >
                <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
              </a>
            </td>
          </tr>
          <tr
            data-ng-show="isCategoryModificationRowVisible"
          >
            <td>
              <label>Seleccionar categoria
                <select
                  class="form-control"
                  data-ng-model="categoryModificationValues.from"
                >
                  <option
                    data-ng-repeat="cat in innvCategories"
                    value="{{cat.id}}"
                  >{{cat.id}}
                  </option>
                </select>
              </label>
            </td>
            <td>
              <label>Seleccionar categoria
                <select
                  class="form-control"
                  data-ng-model="categoryModificationValues.to"
                >
                  <option
                    data-ng-repeat="cat in innvCategories"
                    value="{{cat.id}}"
                  >{{cat.id}}
                  </option>
                </select>
              </label>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="desk-align-right inside-right">
        <button
          data-ng-show="!isCategoryModificationRowVisible"
          type="button"
          class="btn btn-primary-action"
          ng-click="setCategoryModification()"
        >Agregar cambio de categoría
        </button>
        <button
          data-ng-show="isCategoryModificationRowVisible"
          type="button"
          class="btn btn-primary-action"
          ng-click="addCategoryModification()"
        >Guardar Cambio
        </button>
      </div>
    </div>

    <div
      class="col-md-9 padding-right-0"
      data-ng-show="isCatGrpEditVisible"
    >
      <div data-ng-show="groups[currGrpId].name">
        <h4>{{groups[currGrpId].name}} / {{categories[currCatId].name}}</h4>
      </div>
      <div class="col-md-12 category-section">
        <div class="col-md-6 category-section-alias">
          <div class="col-md-12">
            <label>Alias</label>
          </div>
          <div class="col-md-10">
            <tags-input class="tags-input" ng-model="categories[currCatId].aliases" placeholder="Ingrese un alias"
                        help-tip="aliases" help-tip-placement="left"></tags-input>
          </div>
        </div>
        <div class="col-md-6">
          <div class="col-md-12">
            <label class="checkbox">
              <input type="checkbox" help-tip="category.analyses.filiationDataRequired" help-tip-placement="top" data-ng-model="categories[currCatId].filiationDataRequired" /><b>Habilitar ingreso de datos filiatorios</b>
            </label>
          </div>
          <div class="col-md-12">
            <label class="checkbox">
              <input help-tip="category.analyses.replicate" help-tip-placement="bottom" type="checkbox" data-ng-model="categories[currCatId].replicate" />Réplica contra instancias superiores
            </label>
          </div>
          <div class="col-md-12">
            <label class="checkbox">
              <input help-tip="category.analyses.allowManualLoading" help-tip-placement="bottom" type="checkbox" data-ng-model="categories[currCatId].manualLoading" />Admite carga manual
            </label>
          </div>
        </div>
      </div>
      <section class="extended-section">
        <div class="tabs tabs-style-line">
          <nav>
            <ul>
              <li ng-repeat="(id, at) in analysisTypes" ng-class="{'tab-current': activeAnalysis === at.id}">
                <a href="" ng-click="selectAnalysis(at.id)"><span>{{'analysisTypes.' + at.name | i18next}}</span></a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="content-wrap">
          <tabset class="tabset-section" data-ng-show="categories[currCatId].name" id="categories-tabs">
            <tab active="tabs[0].active" heading="Alta de Análisis" ng-show="!analysisTypes[activeAnalysis].mitochondrial">
              <form name="profileValidationForm">
                <div ng-include="'/assets/javascripts/categories/profile-validation.html'"
                     help-tip="category.analyses.general" help-tip-placement="left"
                     class="animated fadeIn"/>
              </form>
            </tab>
            <tab ng-if="!categories[currCatId].pedigreeAssociation " active="tabs[1].active" heading="Asociación de Perfiles" ng-show="analysisTypes[activeAnalysis].name == 'Autosomal' && !categories[currCatId].isReference">
              <div ng-include="'/assets/javascripts/categories/associations.html'"
                   help-tip="category.associations.general" help-tip-placement="left"
                   class="animated fadeIn"/>
            </tab>
            <tab active="tabs[2].active" heading="Reglas de Búsqueda">
              <div ng-include="'/assets/javascripts/categories/matching-rules.html'"
                   help-tip="category.matching.general" help-tip-placement="left"
                   class="animated fadeIn"/>
            </tab>
          </tabset>
        </div>
      </section>
      <footer class="category-footer">
        <div class="desk-align-right inside-right">


          <div class="btn btn-link-action" ng-click="cancel()">

            <span  title="Limpiar pantalla" class="btn-link-action">Limpiar</span>
          </div>

          <button help-tip="category.general.save" help-tip-placement="left" type="button"
                  class="btn btn-primary-action"
                  ng-disabled="profileValidationForm.$invalid"
                  data-ng-click="save()">Guardar todo</button>
        </div>
      </footer>

    </div>

  </div>

</div>