<div class="row tab-section">
	<form name="profileValidationForm">
		<div class="col-md-12 m-b-10 m-t-10">
			<div class="col-md-8">
				<label>{{ 'locus.minWithAlleles' | i18next }}</label>
			</div>
			<div class="col-md-4">
				<input type="text" class="form-control form-select"
					   data-ng-model="categories[currCatId].configurations[activeAnalysis].minLocusPerProfile"
					   help-tip="category.analyses.minLocusPerProfile" help-tip-placement="top" name="minLocusPerProfile" required />
                <form-validation input="profileValidationForm.minLocusPerProfile"></form-validation>
			</div>
		</div>
		<div class="col-md-12 m-b-10">
			<div class="col-md-8">
				<label>{{ 'locus.maxWithTrisomies' | i18next }}</label>
			</div>
			<div class="col-md-4">
				<input type="text" class="form-control form-select"
					   data-ng-model="categories[currCatId].configurations[activeAnalysis].maxOverageDeviatedLoci"
					   help-tip="category.analyses.maxOverageDeviatedLoci" help-tip-placement="left" name="maxOverageDeviatedLoci" required />
                <form-validation input="profileValidationForm.maxOverageDeviatedLoci"></form-validation>
			</div>
		</div>
		<div class="col-md-12 padding-bottom-20" ng-if="!categories[currCatId].isReference">
			<div class="col-md-8">
				<label>{{ 'locus.maxAllelesPer' | i18next }}</label>
			</div>

			<div class="col-md-4">
				<input type="number" class="form-control form-select" ng-pattern="/^[1-9]$/" step="1" min="1" max="9"
					   data-ng-model="categories[currCatId].configurations[activeAnalysis].maxAllelesPerLocus"
					   help-tip="category.analyses.maxAllelesPerLocus" help-tip-placement="bottom"
                       name="maxAllelesPerLocus" required />
				<form-validation input="profileValidationForm.maxAllelesPerLocus" pattern="número entero" min="1" max="9"></form-validation>
			</div>
		</div>
	</form>
</div>
