<div class="modal-header">
 	<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="$close()"><span aria-hidden="true">&times;</span></button>
	<h4>{{ 'signUp.changePassword' | i18next }}</h4>
</div>

<div class="modal-body">
    <form id="clearPasswordForm" name="clearPasswordForm" class="form" role="form" novalidate>
        <div class="row">
            <div class="col-md-12">
                    <p>{{ 'signUp.request.mandatoryField1' | i18next }} <span class="field-obligated">*</span>{{ 'signUp.request.mandatoryField1' | i18next }}</p>
                <div class="item-input">
                    <label for="clearUsername">{{ 'generics.userName' | i18next }}<span class="field-obligated">*</span></label>
                    <input type="text"
                            id="clearUsername"
                            name="clearUsername"
                           class="form-control login-input login-user form-select"
                           help-tip="login.input.userName"
                           ng-model="solicitudClear.userName"
                           autocomplete="off"
                           placeholder="{{ 'generics.userName' | i18next }}"
                           required
                           autofocus />
                    <form-validation input="clearPasswordForm.clearUsername"></form-validation>
                </div>
            </div>

            <div class="col-md-12">
                <div class="item-input">
                    <label for="newPassword">{{ 'signUp.newAccount' | i18next }}<span class="field-obligated">*</span></label>
                    <input type="password" id="newPassword" name="newPassword"
                        class="form-control login-input form-select" ng-model="solicitudClear.newPassword"
                        autocomplete="off" placeholder="{{ 'signUp.newAccount' | i18next }}" required>
                    <form-validation input="clearPasswordForm.newPassword"></form-validation>
                </div>
            </div>

            <div class="col-md-12">
                <div class="item-input">
                    <label for="signupRepeatPassword">{{ 'signUp.newPasswordConfirmation' | i18next }}<span class="field-obligated">*</span></label>
                    <input type="password" name="confirmNewPassword"
                        id="signupRepeatPassword" class="form-control login-input form-select"
                        ng-model="solicitudClear.repeatPassword" autocomplete="off"
                        placeholder="{{ 'signUp.newPasswordConfirmation' | i18next }}" required ng-pattern="solicitudClear.newPassword">
                    <form-validation input="clearPasswordForm.confirmNewPassword" pattern="password"></form-validation>
                </div>
            </div>
        </div>
	</form>
</div>

<div class="modal-footer">
	<button 
		id="btnContinueStep1" 
		class="btn btn-primary-action"
		ng-click="clearPassRequest()"
		ng-disabled="clearPasswordForm.$invalid">
        {{ 'signUp.changePasswordRequest' | i18next }}
	</button>
</div>
